[2019-11-13 00:28] PlanetBloopy commented on #934
I got an email showing someone had commenting saying they experienced the same issue, but can't see the comment now. Anyway, I thought I'd mention that the problem I needed to solve required a slightly different solution in the end.

I needed to combine multiple rectangles into paths, decide which paths to keep, and then combine them and perform one subtraction. I mentioned earlier that `SKCanvas.

[2019-11-13 09:51] MarchingCube commented on #252
@BradChase2011 Unfortunately our PR got stuck in the review process and we can't do much about it since it is us waiting for feedback. For us that means we have to keep a fork running and merge manually. Internally we are using SkiaSharp with Vulkan from several months without issues.

[2019-11-14 02:26] mattleibow commented on #937
So, I had a look and tested a few things.

What I found was that UWP works in that as soon as you start drawing, it captures the pointer and won't scroll. This PR will fix it for Android.

I checked iOS and there is no easy way to prevent the bubbling of events, so it always scrolls. I fill that it is correct to stop scrolling, so we should probably fix iOS as well.

Not sure what Tizen, macOS, WP

[2019-11-14 08:20] FoggyFinder commented on #937
I can check WPF but not iOS since I don't have device or emulator.
I've found this with quick search:

[Stop ScrollView scrolling from child elements (works in Android but not iOS)](https://forums.xamarin.com/discussion/67348/stop-scrollview-scrolling-from-child-elements-works-in-android-but-not-ios)

but I think there is easier and better way to achieve it.

[2019-11-14 16:25] MadhanKumarasamy opened #1009 "[BUG] Memory leak when create and dispose SKBitmap and SKCanvas using SkiaSharp"
**Description**
I have create a SKBitmap and SKCanvas and then i call dispose for both SKBitmap and SKCanvas but the memory is not released. I have the checked the memory usage using Visual Studio. I have compare the third and first snapshot after the dispose method but it holds some bytes. Attached screenshots shows that memory is not released after disposing the object.

**Code**
`Console.WriteL

[2019-11-14 16:29] mattleibow commented on #937
I think the issue is there is a bug: https://github.com/xamarin/Xamarin.Forms/issues/8497

The correct way would be to track the touch events, and when you start dragging, you disable the scroll.

[2019-11-14 16:35] mattleibow commented on #252
That is my fault. Since there weren't that many votes/requests for Vulkan, it sort of slid down the list. I do still want to merge this. @MarchingCube what platforms are you using Vulkan on?

[2019-11-14 17:05] MarchingCube commented on #252
We are running on windows exclusively at the moment.

[2019-11-14 22:57] mattleibow commented on #252
@MarchingCube OK. I merged your PRs into "official" branches that I will keep up to date. I made some comments that I think we would want before we merge: #1010 and https://github.com/mono/skia/pull/69. I want to get this in, but my humanity is holding me back 😉 We will accept PRs to the dev/vulkan branch, and I will keep it up to date. So, you should be able use the branches with minimal work.

I

[2019-11-15 05:10] vijayasurya20 commented on #676
Hi Team,

Are there any news regarding this?

Regards,
Vijayasurya A

[2019-11-15 06:43] Gillibald commented on #676
Sounds like we just need a new target `externals-nano-server` and leave out the parts that depend on not supported api. So in the end this is mostly how the UWP build works.

[2019-11-15 11:44] kevcrooks commented on #937
Matching @FoggyFinder , we have the scrolling problem on Android.
iOS appears to be working as expected for us though @mattleibow (clicking and dragging inside the box doesn't scroll, which is what we want)

I think if your fix works for Android, then that would work in our case on all the devices we've tested

[2019-11-15 16:54] inforithmics opened #1011 "SkiaSharp.Views.Forms.WPF nuget Package does not work out of the Box"
**Description**

https://www.nuget.org/packages/SkiaSharp.Views.Forms.WPF/1.68.1-rc.169 does not work out of the box. The Xamarin WPF Application crashes with an SKCanvasViewRenderer does not implement IRegistrable

**Code**
`<PackageReference Include="SkiaSharp.Views.Forms.WPF" Version="1.68.1-rc.169" />`

**Expected Behavior**

Xamarin WPF Application works without issues.

**Actual Behavior**

[2019-11-15 19:03] mattleibow commented on #1011
Ah, I think you may actually be wanting to use [SkiaSharp.Views.WPF](https://www.nuget.org/packages/SkiaSharp.Views.WPF/1.68.1-rc.169). Note the lack of the `.Forms` in the name. This just includes the WPF bits and should work with both .NET Framework and .NET Core.

[2019-11-15 21:41] mattleibow commented on #1011
I see what you mean. I created a new project and I see what you are talking about. Let me find a fix

[2019-11-15 23:14] inforithmics commented on #1011
Yes you are right, I meant a Xamarin.Forms WPF Application.

[2019-11-16 03:56] #1011 closed

[2019-11-16 03:57] mattleibow commented on #1011
Thanks for reporting this issue. I got it fixed and it will be in the next preview release.

[2019-11-16 13:09] MarchingCube commented on #252
@mattleibow Thanks for the update, we already switched internally to use that branch (it already makes our life easier so thanks for that). About getting more API bound - I guess others might need to chime in with their requests since for us it already covers 100% of what we need at the moment.

I guess biggest factor will be actually testing with other OSes and checking if current API covers it.

[2019-11-16 15:40] mattleibow commented on #1011
I am pushing a NuGet now. rc.170 should be up soon and you can test.

[2019-11-16 18:43] BradChase2011 commented on #252
@mattleibow @MarchingCube Sorry for the late response guys, had other pressing matters.  I have to wrap up some code, but hopefully I can test this on windows and droid early/mid next week.  Thanks a ton for the work!  Cant wait to test!

[2019-11-16 20:06] mattleibow commented on #676
We just need to figure out how we would actually package this. Right now the Win32 is in the main NuGet. We might need to see how devs would use this. Will they use VS on Windows and do testing, and then deploy to Nano? If so, we need to find a way to have dotnet publish (and similar) to actually use the Nano binaries. That will probably be the hardest part - how do we distinguish between desktop

[2019-11-16 20:45] mattleibow commented on #252
@MarchingCube I see you got the family involved 😜 Rather than actual features, I am concerned that the API has changed a fair bit from now to the current head: https://github.com/google/skia/tree/master/include/gpu/vk

Even the `VkInterface` is gone, so it might be useful to see what they are doing now, and then make this API work like that - even if we have to do a bit of extra work in managed la

[2019-11-16 21:23] hflexgrig commented on #487
Is there any news from this. I'm currently using SkiaSharp.Views.Forms for my application, and it won't work for my application. Error i'm getting is

"System.InvalidCastException: Unable to cast object of type 'SkiaSharp.Views.Forms.SKCanvasViewRenderer' to type 'Xamarin.Forms.IRegisterable'.
   at Xamarin.Forms.Internals.Registrar`1.GetHandler(Type type, Type visualType) in D:\a\1\s\Xamarin.Form

[2019-11-16 22:32] inforithmics commented on #1011
I tested it and the SkiaSharp.Views.Forms.Wpf works like a charm, thanks a lot. I tested if the UWP and the Android Version work too and they seemed fine.
In the Android Version I found a strange behavior. On a real arm64 device it works, but in the emulator (x64 on a pc) the colors seem to be wrong in skiasharp.

For me it seems that in x64 android compilation something went wrong.
For example Bl

[2019-11-16 23:25] mattleibow commented on #676
Just wrapped the `NanoServerApiScan` tool in a nice .NET Core tool: https://github.com/mattleibow/nano-api-scan

[code]

After switching to static builds and Clang, we now only have a single method that we have to worry about:

[code]

[2019-11-17 03:31] mattleibow commented on #676
Good news! I think we can get Nano Server in for the next release I am planning next week if this build goes well: https://github.com/mono/SkiaSharp/pull/1013/commits/b265b430f098259fc5bba2d4b8531cec1c37d311

Pretty much, I can exclude the usage in the comment above and no one woulds care - that is just for the experimental XPS document type subsetter. I have no numbers, but I don't think anyone w

[2019-11-17 03:38] mattleibow commented on #676
Heh, I think I was getting ahead of myself... next week is like Wednesday and there is no way a reasonable person should go stable with just a weekend hack :) Moved it out to a new PR #1014 that I will merge after I release. I want to try and get a more frequent release cadence with SkiaSharp - and give people more time to actually test Nano Server.

[2019-11-17 04:51] mattleibow commented on #1011
@inforithmics Could you open a new issue on this? I want to make sure that I fix any issues before we release. I don't think I changed anything for Android, but I can check. Also could you attach some screenshots/sample code that generates this?

[2019-11-17 05:05] mattleibow commented on #487
@hflexgrig this looks like you are missing the GTK renderers. Unfortunately, I just haven't gotten around to that yet. See this issue: https://github.com/mono/SkiaSharp/issues/379 If you really need to use GTK, you can have a go at creating your own renderers or giving https://github.com/mono/SkiaSharp/issues/379 a thumbs up to show support. As the votes come in, it moves up the list.

[2019-11-17 05:16] mattleibow commented on #676
This is the CI for that PR: https://dev.azure.com/xamarin/public/_build/results?buildId=9981&view=results You can check out the artifacts when the build completes.

[2019-11-17 12:14] hflexgrig commented on #379
Please can someone help me with custom renderer, until this will be fixed in future releases ?

[2019-11-17 13:59] mackel90 opened #1016 "[Question] Error building 'externals-tizen'"
I downloaded the and followed the guides, did not made changes to any file.
Installed tizen and a few tizen-packages that I found timportant.

The '.\bootstrapper.ps1 -t everything -v "Diagnostic"'-Call get stopped reporting this error below.

It thells me there is a header file missing which is indeed not there.
Is there configured something wrong? Can I exclude tizen, ('cause I probably don't ne

[2019-11-17 14:14] Gillibald commented on #1016
If you just want to change something android related to can use `-t externals-android`

[2019-11-17 15:19] inforithmics opened #1017 "Colors in Android x86 Emulator are wrong in version 1.68.1-rc.170"
**Description**

Colors in Android X64 Emulator are wrong

**Code**

Attached sample project

**Expected Behavior**

The same colors as with version 1.68

**Actual Behavior**

After upgrading the colors are wrong in skia sharp in The android emulator on on target x64 on a real device they are correct.

**Basic Information**

- Version with issue:  1.68.1-rc.170
- Last known good version:  1.68
- I

[2019-11-17 15:49] mattleibow commented on #1016
@Gillibald is right. And then you can just open one of the MSBuild projects - either the source or even a sample.

Also check out this wiki that can help you get started without building any of the native bits: https://github.com/mono/SkiaSharp/wiki/Building-SkiaSharp#managed-only-building

[2019-11-17 15:59] mattleibow commented on #676
Check out this build's artifacts: https://dev.azure.com/xamarin/public/_build/results?buildId=9982&view=resultsa

[2019-11-18 09:02] inforithmics commented on #1017
I investigated a litte further and found out why the Colors change in the Android Emulator. Somehow the Windows Accent Color (Theme Color is connected to the Android Emulator).

Windows Accent Color Blue -> Android SkiaSharp Blue becomes Green.
Windows Accent Color Gray -> Android SkiaSharp Blue becomes Dark Blue.

I have set on my Computer to Automatically pick the Accent Color Dending on the Bac

[2019-11-18 12:15] inforithmics commented on #1011
I created a new issue: https://github.com/mono/SkiaSharp/issues/1017

[2019-11-18 17:49] mattleibow commented on #1011
Thanks! I will investigate.

[2019-11-18 23:04] Almis90 opened #1018 "[QUESTION] Click or touch listener for paths in svg"
I followed [this tutorial](https://www.pshul.com/2018/02/01/xamarin-forms-interactive-svg-image-using-skiasharp-with-pan-and-zoom/) and managed successfully to load svg with pan and zoom. My svg image consists of many `<path>` elements with `data-*` attributes. I need to know which path was clicked and get their attribute, or at least just get the id attribute. Is there any way to do that?

[2019-11-19 13:01] charlesroddie commented on #1018
SkiaSharp.Extended does have an SVG parser. https://github.com/mono/SkiaSharp.Extended/blob/master/SkiaSharp.Extended.Svg/source/SkiaSharp.Extended.Svg.Shared/SKSvg.cs
You can use adapt this code to parse svgs to your own structured format which will allow you to do what you want.

[2019-11-19 13:02] charlesroddie commented on #1018
SkiaSharp.Extended is here: https://github.com/mono/SkiaSharp.Extended

[2019-11-19 14:32] FoggyFinder commented on #1018
There is also [Svg.Skia](https://github.com/wieslawsoltes/Svg.Skia) library

[2019-11-19 15:22] inforithmics commented on #1017
Experimenting arround I have the Impression that a Default Theme ColorFilter is applied, because I could correct the Colors with a "Inverse Color Filter" but naturally on a real Android Device the colors where wrong.

[2019-11-19 16:19] mattleibow commented on #1017
That is really strange, and I don't actually think that feature exists. In fact, there should be no way your Windows machine influences the Android emulator.
But, it is happening, so who knows anymore. ¯\_(ツ)_/¯

What emulator are you using HAXM or Hyper-V?

Also, maybe try deleting your emulator image and recreating it - or create a new image. Also, if you roll back to v1.68.0, does it go away, o

[2019-11-19 16:21] mattleibow commented on #1017
One separate thing that you could test is adding a label to the screen, or using the native Android drawing APIs on a custom view to see where the color stops.

If you have not done native Android dev, then I can maybe whip up a sample app for you to try.

[2019-11-19 16:24] mattleibow commented on #1018
@Almis90  I would totally have a look at Svg.Skia that @FoggyFinder posted. I don't think that SkiaSharp.Extended.Svg is going to get much love anytime soon - and it doesn't support understanding the image - it just draws it out. I think Svg.Skia probably has some APIs that you would want to use.

[2019-11-19 16:31] inforithmics commented on #1017
I use Hyper-V (Because I run it on a Amd Ryzen 1800 Processor). But it exists although on a Intel PC where I although use Hyper-V.
Strangly the Problem goes away when I downgrade to 1.68
I will make later a sample with Native Android.

[2019-11-19 16:36] Almis90 commented on #1018
Okay thank you guys, I will go with Svg.Skia then, closing the issue.

[2019-11-19 16:36] #1018 closed

[2019-11-19 17:08] inforithmics commented on #1017
On the Mac Emulator it is although somehow greenish and not blue.
![iosBug](https://user-images.githubusercontent.com/2290863/69168699-78e9a780-0af7-11ea-9270-487f3f42d98a.gif)

[2019-11-19 17:26] inforithmics commented on #1017
I have a intresting finding The Colors don't work on x86 Target Device on a x64 Target Device they work.
I discovered this because I recreated all Emulators and redownloaded the images.
On x64 it worked on a x86 Target device it didn't work.

[2019-11-19 18:32] inforithmics commented on #1017
Background of the Image label has the same color as the lines

![image](https://user-images.githubusercontent.com/2290863/69175057-58bfe580-0b03-11ea-9e2c-987e3336520f.png)

[2019-11-19 21:28] inforithmics commented on #1017
Heureka I found the problem:

[code]
So it seems to be a memory layout \ mapping issue on x86  Code

[2019-11-19 23:24] AlexeiScherbakov commented on #1001
I have same issue in .netcoreapp3.0 service on docker

[2019-11-20 06:01] mattleibow commented on #1001
I had a look at this and it is a tad annoying, but it appears that Azure Functions are not quite perfect in the way things work. Looks like the runtime does not load the native files like other .net core apps and websites.

But, this is not to say that we can't do anything about it. As part of the publish step, we can hook in there and manually copy the files we know we will need. For example, we

[2019-11-20 08:13] Gillibald commented on #1017
Are you sure that you are not working with premultiplied alpha values here? What is the PixelFormat of your Surface?

[2019-11-20 08:18] Gillibald commented on #453
I thought about changing the current Linux build to statically link the musl libc implementation. That way we should be able to support most distros without having a special build for each. Not sure how hard this would be to achieve. Ideally we include every dependency.

[2019-11-20 09:04] inforithmics commented on #1017
var pixelGeometry = args.Surface.SurfaceProperties.PixelGeometry;
SkiaSharp.SKPixelGeometry.RgbHorizontal

[2019-11-20 09:12] inforithmics commented on #1017
The strange part is when I make new SKPaint there is already a Value in skPaint.Color and the returned value seems for me random.
[code]
I isn't Corleated to the Accent Color. So I think the property reads somewhere from the Memory it shouldn't because it doesn't return the same value as is set.

Looking at them implementation (in. Net interop) SkiaApi.sk_paint_get_color(this.Handle)
Is used to re

[2019-11-20 10:30] Gillibald commented on #1017
A float is 4 bytes on both architectures so there should be no difference. The paint's color is stored as 4 float values.

[2019-11-20 13:08] mattleibow commented on #1017
This is getting weird now, the original issue said x64 was not work. But seems it is now and x86 is not?

What happens if you set the paint color to a red and then read it out? Does it still happen? SKColors.Red

[2019-11-20 14:06] mattleibow commented on #1017
Thanks for your patience with this. I think I figured it out. Just need to confirm and try a few things. I'll make sure this is fixed before we release.

[2019-11-20 14:57] inforithmics commented on #1017
I thought I execute the x64 Android Emulator, but I was really executing the x86 Emulator so the Title was wrong in the First place, so I corrected it to x86

[2019-11-20 14:58] mattleibow commented on #1017
Ah, that makes sense. I think I got a fix. It was the managed-native interop that was doing things wrong. I fixed that in #1023.

[2019-11-20 15:08] inforithmics commented on #1017
Are the Tests executed on every platform (x86, x64, Arm, Arm64) \ (Windows, Android ...) , because this only occured on x86 Android

[2019-11-20 15:11] mattleibow commented on #1017
There is a problem in that I only have tests for mac x64, win x64/x86 and linux x64. I have no other platforms yet. I am working on getting that going, but the tests are a bit more complex to write. Usually the 2 windows platforms pick this up, but for some reason my tests around colors are bad. I got a test there now that I want to check really breaks CI.

[2019-11-20 15:15] mattleibow commented on #1017
Well, that was disappointing. All the Windows tests just passed. Looks like Windows gets it right for some reason. The only thing I can think of is that the mono runtime on android does the interop slightly differently.

I will have to talk to those folks and find out.

[2019-11-20 15:22] john-cullen commented on #819
@Mikolaytis did you ever get text / lines rendering for this?

[2019-11-20 17:34] inforithmics commented on #1017
The difference in the IL is in 1.68 the value is fetched in the following manner

1.68
  return (SKColor) SkiaApi.sk_paint_get_color(this.Handle);
 sk_paint_get_color is defined public and as return type uint.

1.68.1-rc170
  return SkiaApi.sk_paint_get_color(this.Handle);
  sk_paint_get_color is internal and as return Type SKColor
  so maybe interop layer converts uint correctly but not when it i

[2019-11-20 17:41] inforithmics commented on #1017
I had a quick look with Ghidra at the assembly code and the assembler was the same, so it is definitly an interop thing.

1.68.1-rc-170
[code]
1.68.0
[code]

[2019-11-20 18:17] Gillibald commented on #1017
`typedef uint32_t SkColor;`

[2019-11-20 18:23] Gillibald commented on #1017
https://github.com/mono/SkiaSharp/blob/master/binding/Binding/SkiaApi.generated.cs#L2816 I guess we need to change that parameter to uint instead of `SKColor`
What is sizeof(SKColor)?

[2019-11-20 18:30] twinharbor commented on #341
I'm running into this exact issue now, just rolled out a new version of my app only to find that it doesn't work on physical devices. If anyone has any more insight onto a solution for this, please let me know! Thanks!

[2019-11-20 20:05] inforithmics commented on #1017
I made a test and specified the interop in my test program as uint

        [DllImport("libSkiaSharp", CallingConvention = CallingConvention.Cdecl)]
        internal static extern uint sk_paint_get_color(IntPtr param0);

        and then I castet it o SKColor like in the Version 1.68 and the values are
        now valid.

         var test = (SKColor)sk_paint_get_color(skPaint.Handle);
         va

[2019-11-20 20:15] inforithmics commented on #1017
var size1 = sizeof(SKColor);
    // 4
    var size2 = sizeof(uint);
    // 4

[2019-11-20 20:23] #1017 closed

[2019-11-20 20:26] mattleibow commented on #1017
This was the interesting thing. I previously had the parameters as `SKColor` and the return types as `uint`.

Seems the value is fine when it is a parameter, but when it is a return, it can't just be forced. But I changed everything to be `uint` in the PR and do the work manually in the managed side now.

It broke because i switched to the generator and did not take into account the return vs para

[2019-11-20 20:27] mattleibow commented on #1017
@inforithmics thanks for all the research and opening this issue. It would have been pretty bad for this to get out to the stable release.

[2019-11-20 20:35] mattleibow commented on #341
@twinharbor could you open a new issue and fill in the template with all the specs. You can also link to this issue for context if you are seeing the same thing.

[2019-11-20 20:43] mattleibow commented on #745
From @Mikolaytis in #819:

Hi, I'm using SkiaSharp in my WPF app with WGL rendering as described here.

The FPS of this approach is low (all performance is thrown into copy bytes to WritableBitmap), so I'm in search for another solution and found an perfect example, how to render in WPF D3DImage over OpenGL via SharpDX, Angle.

https://github.com/l3m/wpf-gles

Performance is on another level, but

[2019-11-20 20:43] mattleibow commented on #745
From @Mikolaytis:

Here we go! Done: https://github.com/Mikolaytis/WpfSkiaAngleSharpDxOpenTK

[2019-11-20 20:43] mattleibow commented on #745
From @Mikolaytis:

Turns out text/line/etc. draw do not render anything, only images are rendering.

[2019-11-20 20:44] mattleibow commented on #745
From @john-cullen:

@Mikolaytis did you ever get text / lines rendering for this?

[2019-11-20 20:44] mattleibow commented on #819
@Mikolaytis Thanks for all this work. @john-cullen I am closing to close this issue and merge it with #745 so we have one place to discuss this - and to talk solutions.

@john-cullen I think this may be because the stencil buffers aren't set up right. But let's talk in #745

[2019-11-20 20:44] #819 closed

[2019-11-20 20:46] mattleibow commented on #745
@john-cullen, I can't be sure at this point, but it might be that the stencil buffers aren't set up right. I see this is `0`: https://github.com/Mikolaytis/WpfSkiaAngleSharpDxOpenTK/blob/f41433c75701519991eb861aa063653293d1781f/src/WpfGlesDemo/SkiaRenderer.cs#L78

Hopefully @Mikolaytis has got a working solution that we can benefit from. 🤞

[2019-11-20 20:50] mattleibow commented on #622
Closing this as a duplicate of #745

@freezy thanks for the work and sharing it. I'mm going to add a comment in #745 to your repo as that we can have all the information in one place.

@ibgorton did @freezy's code work for you? Please let us know in #745 !

[2019-11-20 20:50] #622 closed

[2019-11-20 20:52] mattleibow commented on #745
Just merging some issues and it appears that @freezy has some code in a repo:

[2019-11-20 20:59] mattleibow commented on #920
Hi @AlexandreLaborde sorry about the incredibly long wait. Just so you know, this is an open-source project and you can just send in PRs - no need to ask!

The SKGLControl has not received _that_ much love at all, so could very well have a few bugs. It does not get the same level of support as Android and iOS.

@Gillibald thanks for getting in on the discussion.

@AlexandreLaborde did you try call

[2019-11-21 09:31] john-cullen commented on #745
@mattleibow thanks for responding immediately!

I have a couple of questions. First of all, I apologise if these are obvious, but I've never done any graphics work before now.

How does the approach in this issue / the linked repository differ from using a `WriteableBitmap` as done here https://github.com/8/SkiaSharp-Wpf-Example (which I got to work on dotnetcore).

Does being accelerated imply th

[2019-11-21 11:22] twinharbor opened #1026 "Drawing works in simulator but not on physical iOS devices[BUG]"
I've run into a strange issue where I'm using an SKCanvasView to collect some simple drawing. This works fine in the simulator, but when launching on physical iOS devices the TouchAction event handler is never hit. It works fine on Android.

This appears to be the same as issue [341](https://github.com/mono/SkiaSharp/issues/341) but that one the person who ran into it reformatted their mac and set

[2019-11-21 17:38] knocte opened #1027 "[BUG] `SKImage.FromBitmap(someBitmap)` returns null (on macOS) with SkiaSharp 1.68.0 and 1.68.1"
**Description**

`SKImage.FromBitmap(someBitmap)` returns null, on macOS (with a someBitmap variable that is not null). Strangely enough, this happens when upgrading Xamarin.Forms from 3.0 (3.0.0.446417) to the latest 4.3 (4.3.0.991211). [Been bisecting this, and regression seems to happen somewhere between 3.6.709228, the last v3.6.x, and 4.0.0.425677, the first v4.0.x]

**Code**

https://github.

[2019-11-21 17:40] mattleibow commented on #1026
It might be that the `TouchEffect` is having issues. Is this a custom effect that you created? If possible, try using the native `Touch` event on the `SKCanvasView`. Also set the `EnableTouchEvents` to true.

Docs:
https://docs.microsoft.com/dotnet/api/skiasharp.views.forms.skcanvasview.touch
https://docs.microsoft.com/dotnet/api/skiasharp.views.forms.skcanvasview.enabletouchevents

[2019-11-21 18:39] Mikolaytis commented on #745
@mattleibow We are using @freezy approach for a 6 month already. Issue is - we are still using `WriteableBitmap` to draw canvas on a WPF window. WriteableBitmap is stored in the RAM so - on GPU rendering we are having next pipeline:
1) Rendering surface on GPU
2) Converting surface to bitmap pixels
3) Copying pixels to the Writeablebitmap handle (from GPU to the RAM)
4) WPF will push buffer from R

[2019-11-21 19:48] mattleibow commented on #705
This was fixed in #1024

[2019-11-21 19:48] #705 closed

[2019-11-21 20:53] mattleibow opened #1028 "[BUG] Implement policy/security checks into the build pipeline"
**Description**

This includes some of the most basic:
 - PoliCheck - political/offensive wording
 - CredScan - commited credentials
 - Components Governance - dependency vulnerabilities OSS tracking

[2019-11-22 07:23] mattleibow opened #1029 "[FEATURE] Make the Views.WindowsForms and Views.WPF actually target .NET Core"
**Is your feature request related to a problem? Please describe.**
Right now, installing the SkiaSharp.Views.WindowsForms or SkiaSharp.Views.WPF packages will give a warning saying that it is not targeting the right thing and all that.

- [x] SkiaSharp.Views.Desktop.Common
- [x] SkiaSharp.Views.WPF
- [x] SkiaSharp.Views.WindowsForms

**Describe the solution you'd like**
We would like a nice packag

[2019-11-22 08:54] inforithmics commented on #1017
You're welcome and thanks for the fixed nuget package.

[2019-11-22 17:17] knocte commented on #1027
Updated to 1.68.1 and Catalina, still broken.

[2019-11-23 05:02] mattleibow commented on #1027
This is interesting that it happens with an update of form as this is a totally separate library. I'll have a look and see if I can spot anything. If you create a console app, or any other type of app that is not forms, does this still happen?

As a workaround, you can create a SKSurface use the canvas on that and then call Snapshot to get an SKImage https://docs.microsoft.com/en-us/dotnet/api/ski

[2019-11-25 01:04] mattleibow opened #1031 "[BUG] Uses of ArrayPool need to be checked"
**Description**

@Gillibald usage of the array pool need to be checked because the arrays are not actually cleared.

In this example, the second buffer still has the values from the first Rent.

[code]

This is used in 2 places so far (`TryGetGlyphName` and `GlyphToString`):

[code]

The issue might actually be in the usage of `name = new string (first);` as that creates a string from the full arr

[2019-11-25 01:41] mattleibow commented on #1031
Looking a bit, I think it is because we are not writing a `\0` in the managed delegate in `GlyphNameProxyImplementation`

[2019-11-25 01:44] mattleibow commented on #1031
Something like this:

[code]

[2019-11-25 06:05] Gillibald commented on #1031
We can check for the termination. I kind of expected the termination in all results because that's what HarfBuzz should produce. We can go the safe way. Non terminated strings should throw.

[2019-11-25 06:32] mattleibow commented on #1031
I think harfbuzz is getting it right, it is our delegate when we copy the string: `nameSpan.CopyTo (bufferSpan);` I don't think it is adding the `\0` to the span.

[2019-11-25 10:26] Knuddlbaer opened #1032 "[BUG] Possible Leak with static Dictionary SKObject.instances"
SKObject holds Handled to WeakReferences in an static Dictionary bit never removes entries.

In RegisterHandle a new Entry is created with the handle ob object to an WeakReference. In DeregisterHandle, the Entry will only updates with WeakReference(null) but never deleted. This leads to tons of entries with tons of  WeakReferences.

**Expected Behavior**

On Dispose the handle need to be removed f

[2019-11-25 10:54] knocte commented on #1027
Have had a brief look around this and couldn't figure out what overload to use to create the SKSurface, can you elaborate?

Good question I'll test that and report back.

[2019-11-25 11:00] Gillibald commented on #1027
https://docs.microsoft.com/en-us/dotnet/api/skiasharp.sksurface.create?view=skiasharp-1.68.0#SkiaSharp_SKSurface_Create_SkiaSharp_SKPixmap_

[2019-11-25 11:03] knocte commented on #1027
I know how to find the API, I just don't know which of those overloads to use in my particular case, to transform the code (I didn't write that code in the first place so it's a bit harder for me to wrap my head around it).

[2019-11-25 11:24] mattleibow commented on #1027
You are probably looking for the

[code]

[2019-11-25 12:57] knocte commented on #1027
Thanks! Just tested this and I can verify that this workaround works.

[2019-11-25 13:02] knocte commented on #1027
Spoke too soon, the new Surface approach works on XF3.0 but still throws a NRE with XF4.3. So maybe what's happening is that the width and height values are 0 somehow with the latter, will continue investigating...

[2019-11-25 14:21] knocte commented on #1027
I was right about this hunch, and these values come from a SkSvg object (https://github.com/knocte/geewallet/blob/b0dcca50c1fab8010e8376afea566763a1b5b8ec/src/GWallet.Frontend.XF/Controls/DonutChartView.fs#L234), so maybe it's a bug in `SkiaSharp.Svg`?

[2019-11-25 14:50] knocte commented on #1027
Sorry for the noise, it's the Xamarin.Forms.DeviceInfo.ScalingFactor property which somehow in v4.3 is returning 0.0. Closing here so I'll open in XF repo.

[2019-11-25 14:50] #1027 closed

[2019-11-25 15:24] knocte commented on #1027
In case you're curious I filed this as github issue number 8652 in XF repo.

[2019-11-25 15:34] mattleibow commented on #1027
Ah, OK. Thanks.  Issue: https://github.com/xamarin/Xamarin.Forms/issues/8652

[2019-11-25 21:58] SeRgI1982 opened #1033 "Is SKPath is able to check if Point belong to path geometry ?"
In WPF, when you draw for ex. circle using Path and set thick StorkeThickness, you are able to generate a new PathGeometry which contains is their segments also stroke (check [MSDN](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.geometry.getflattenedpathgeometry?view=netframework-4.8)).

Having this PathGeometry you are able to check if hit (touched) point belong to specified Pat

[2019-11-26 11:18] ilsoftltd commented on #1026
I had the same problem. App which used to work and then stopped working on the physical device but was on on the emulator and Android devices. Pulled my hair out trying to find out what it was.
In the end, in Visual Studio, I used  the dependencies/references analyser. Quite a few were shown as "Unused". I deleted all these. The iOS project then didn't show as having a reference to SkiaSharp.Views

[2019-11-26 12:18] twinharbor commented on #1026
Thanks for the replies!
@ilsoftltd - thanks for this, sounds promising! Where is the dependency/reference analyzer? I'm using Visual Studio for Mac (latest version).
@mattleibow - thanks, I do believe I have a custom effect but I think it's straight out of the example from MS (the finger painting one here: [https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/graphics/skiasharp/pa

[2019-11-26 12:30] ilsoftltd commented on #1026
I right clicked the "References" folder under each project in turn and chose "Optimize References..," from the popup menu.
This brought up a window listing Unused and Used references and allowed me to delete the unused ones. I see there is a "Delete Unused References" menu item too which I'm guessing shortcuts this.
This was on VS2019 on Windows mind you!

[2019-11-26 12:54] twinharbor commented on #1026
Ah ha- seems some things are in VS for windows and not mac. Fortunately I also have windows running in parallels, but I've been on vs 2017. I'm going to update to 2019 and then see if I can open the project on that side. Thanks!

[2019-11-26 14:55] twinharbor commented on #1026
@ilsoftltd - do you have an addin or something? I don't have an optimize references option in vs.net 2019 for windows. Googling shows something called resharper that has a function with that name, maybe that's what you have?

[2019-11-26 15:18] ilsoftltd commented on #1026
Ah yes I do use Resharper :)

[2019-11-26 17:48] MarmaladeRobot opened #1035 "Its possible to create a bezier semicircle Xamarin Forms"
Hi im trying to reproduce something like this

<img width="352" alt="Captura de pantalla 2019-11-26 a las 18 45 25" src="https://user-images.githubusercontent.com/55951408/69658690-f9bb1d00-107c-11ea-8dda-2ee60efd8ab8.png">

Im following the reply in this Issue https://github.com/mono/SkiaSharp/issues/813 , but im not able to get any close to what is in the image.

Thanks in advance.

[2019-11-26 19:53] twinharbor commented on #1026
Thanks to all who posted ideas. I tried several things, and nothing worked but as I looked closer at your mention of EnableTouchEvents (@mattleibow ) I saw that in the sample code I was working from, it adds a toucheffect to Grid.Effects, whereas it seems we should be adding a touch handler directly to the SKCanvasView: EnableTouchEvents="True" Touch="CanvasView_Touch". I had to rework the handler

[2019-11-27 05:52] mattleibow commented on #1031
@Gillibald I figured out what was happening with the name. It was the marshalling from a C `char` to a C# `char`. C has 1 byte, C# has 2 bytes.

I fixed this by actually passing a `byte[]` to the functions, and then copying into a string:
https://github.com/mono/SkiaSharp/pull/1034/files#diff-6b5300eff3e894978921b22e164317ceL209-L217

[2019-11-27 06:16] mattleibow commented on #1026
@twinharbor That is good to hear! Let us know if you have any other issues.

[2019-11-27 06:16] #1026 closed

[2019-11-27 08:14] #1031 closed

[2019-11-27 19:51] VieiraJP commented on #998
I got exactly the same issue.
Moving the DeviceDisplay.MainDisplayInfo.Density out of the Draw, sorted the issue.

[2019-11-27 20:03] mattleibow commented on #998
I this on Android still?

[2019-11-27 20:56] VieiraJP commented on #998
Yes, actually Android. IOS seems to not complain, at least in the emulator.

In short, Im working is a live chart library.
As the canvas needs to translate in order to offer the live moving effect, I had a need to redraw all visible the points, including text.
I'm using DeviceDisplay.MainDisplayInfo.Density to easier scale the text. By rush I was calling it within the OnDrawMethod, forcing the  De

[2019-11-27 21:38] beeradmoore commented on #998
@mattleibow , yeah this was on Android. Wasn't an issue with SkiaSharp but just how I was using Xamarin.Essentials.

[2019-11-28 08:35] john-dalsgaard commented on #968
Updated to 1.68.1 last night. It crashes the app instantly... Downgrading to 1.68.0 works. I'll need to publish a version that works - and then I can add the stacktrace here if you want?

I'm on MacOS Catalina, VS 2019 Version 8.3.10 (build 2), Xamarin.Forms 4.3.0.991211

[2019-11-28 10:40] john-dalsgaard commented on #968
Well, I seem to be wrong - downgrading _doesn't_ fix it....

In AppCenter I still get these errors (using 1.68.0):

![image](https://user-images.githubusercontent.com/2842073/69799519-b6bf8d80-11d3-11ea-98f0-f694fb1a441c.png)

Ideas??

[2019-11-28 11:32] john-dalsgaard commented on #968
My fault - I had not downgraded the plugin in the iOS project... Doing that seems to make it work...

[2019-11-28 19:58] mattleibow commented on #968
This is because there appears to be some issue with the packaging process not copying the new native binaries/frameworks into the app package.

A rebuild of the app will fix it.

I have opened an issue: https://github.com/xamarin/xamarin-macios/issues/7514

[2019-11-28 21:56] john-dalsgaard commented on #968
Well, I tried to upgrade again (after discussing this with someone from Microsoft on Slack) - clean, build and upload to appstore again. And this time it worked... 👍

[2019-11-28 22:09] john-dalsgaard commented on #968
Ahhhh... I was wrong - it doesn't work! I have removed that build for the external testers again 👎

[2019-11-28 23:28] mattleibow commented on #1028
This was merged in with #1038

[2019-11-28 23:28] #1028 closed

[2019-11-28 23:33] mattleibow commented on #968
@john-dalsgaard (that was me on slack) Is it the same exception? The missing `sk_refcnt_safe_unref` exception?

[2019-11-28 23:41] john-dalsgaard commented on #968
Yep, it looks the same:
`    SKObjectExtensions.SafeUnRef (SkiaSharp.ISKReferenceCounted obj)
    SKObject.DisposeNative ()
    SKNativeObject.Dispose (System.Boolean disposing)
    SKObject.Dispose (System.Boolean disposing)
    SKPicture.Dispose (System.Boolean disposing)
    SKNativeObject.Finalize ()`

[2019-11-30 21:21] MarchingCube commented on #1032
I've noticed this in Avalonia (https://github.com/AvaloniaUI/Avalonia) as well, when we redraw we end up with a lot of `ConcurrentDictionary` allocations coming from SkiaSharp.

[2019-11-30 21:43] Gillibald commented on #1032
I think the AddOrUpdate call is wrong in the method that is responsible for the unregister. Should be easy to fix but haven't found time yet.

[2019-12-01 00:07] Knuddlbaer commented on #1032
AddOrUpdate do not remove the entry in the dictionary. If the SKObject is detroyed, the entry in dictionary is simple replaced by new weakreference. Instead the handle have to removed.

[2019-12-01 09:02] FoggyFinder commented on #1032
@Knuddlbaer Why issue was closed?

[2019-12-01 12:41] mattleibow commented on #1032
Reopening so we can get this fixed.

[2019-12-02 00:32] mattleibow commented on #1032
Closed in #1039

[2019-12-02 00:32] #1032 closed

[2019-12-02 12:27] mattleibow opened #1041 "[BUG] Use the buildTransitive folder"
Make sure all projects with a .targets and/or .props file also use the `buildTransitive` folder.

https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior

[2019-12-02 13:26] mattleibow commented on #1032
I just pushed the NuGets to the preview feed:
https://nugetized.blob.core.windows.net/skiasharp-eap/index.json

1.68.2-preview.5

[2019-12-02 15:34] pmahend1 opened #1042 "[BUG] SKImageSourceHandler not found in 1.68.1 for iOS project"
**Description**
SKImageSourceHandler not found in 1.68.1 for iOS projecct

**Code**

**Expected Behavior**
Should be found

**Actual Behavior**
Compile error

**Basic Information**

- Version with issue:   1.68.1
- Last known good version:  1.68.0
- IDE:   Visual Studio / Visual Studio for Mac
- Platform Target Frameworks: iOS
  - Android: NA
  - iOS:  13.2
  - Linux: NA
  - macOS:  NA
  - Tizen:

[2019-12-02 17:47] mattleibow commented on #1042
Just checking that you have installed the SkiaSharp.Views.Forms NuGet into the iOS project? That type should be in that package.

I can see it there: https://www.fuget.org/packages/SkiaSharp.Views.Forms/1.68.1/lib/xamarin.ios/SkiaSharp.Views.Forms.dll/SkiaSharp.Views.Forms/SKImageImageSource

[2019-12-02 18:40] pmahend1 commented on #1042
This is what we are getting on iOS project
![image](https://user-images.githubusercontent.com/21352870/69985513-54cf9280-1509-11ea-9ab8-c481e2efba4a.png)

[2019-12-02 19:29] pmahend1 commented on #1042
@is it because of this change in nuspec?

![image](https://user-images.githubusercontent.com/21352870/69988670-1689a180-1510-11ea-83e8-d998d82bdcd0.png)

[2019-12-02 19:58] mattleibow commented on #1042
It shouldn't be since iOS is .NET Standard 2.0 and the type should be in THAT nuget, not the dependencies.

Let me have a look at your repo.

[2019-12-02 23:55] mattleibow commented on #1042
I had a look and I see what is happening here. I moved the netstandard library into the ref folder in the nuget so that it won't actually run. But, it appears that the ref folder overrides ALL the platforms.

This typically is fine if the APIs are the same, but because we have more public types (such as SKImageSourceHandler) in the iOS (and the others) this doesn't work.

[2019-12-03 00:41] NotOfficer opened #1046 "[QUESTION] Latest `libSkiaSharp.so`"
Hello, where can i find the latest `libSkiaSharp.so` file as its not attached to the github release?

[2019-12-03 00:46] mattleibow commented on #1046
Just want to check why you are looking for the .so directly?

If you are using .NET and just want to use it, it is actually available on nuget:
 - https://www.nuget.org/packages/SkiaSharp.NativeAssets.Linux
 - https://www.nuget.org/packages/HarfBuzzSharp.NativeAssets.Linux

There is also one with out the fontconfig dependency:
 - https://www.nuget.org/packages/SkiaSharp.NativeAssets.Linux.NoDepend

[2019-12-03 01:38] mattleibow commented on #1035
I think you may be looking for something like this:

[code]

[2019-12-03 01:52] #1042 closed

[2019-12-03 04:31] knocte opened #1047 "[BUG] (Regression) SkiaSharp.Views.Forms nuget package doesn't provide anymore netstandard binaries"
**Description**

I tried to upgrade from SkiaSharp.Views.Forms 1.68.0 to 1.68.1 but I couldn't because the former provided a `lib/netstandard1.3` folder, while the new version doesn't provide any netstandard libs (I only see folders MonoAndroid, Xamarin.Mac20, Xamarin.iOS, tizen40 and uap10.0).

(FYI I need this to be able to run a Xamarin.Forms app under GTK platform, i.e. Linux)

[2019-12-03 10:57] MaurizioPanzica opened #1048 "[BUG] SKTouchAction.Cancelled not issued on iOS when SkCanvasView is in a ScrollView"
**Description**

[On iOS]
When a SkCanvasView is in a ScrollView, and the EnableTouchEvents property is set to 'true', the touch event is not cancelled (i.e.: SkTouchAction.Cancelled is not invoked) if the ScrollView is scrolled while touching the SkCanvasView. Neither is the SkTouchAction.Released event.
Everything works fine on Android.

**Code**

See attached sample project.

**Expected Behavio

[2019-12-03 11:33] JKennedy24 commented on #968
I am also seeing this issue with 1.68.1 on an Ipad using Xamarin.iOS.

First spotted in the test cloud using an automated release build (built using VS mac, cleaned and rebuilt)

Has anyone been able to replicate this bug in a sample or is it something to do with the way the build machine is configured?

downgrading to 1.68.0 fixed the error

[2019-12-03 12:14] mattleibow commented on #1042
@pmahend1 Thanks for reporting this issue. I have pushed out a fix to the preview feed:
    https://aka.ms/skiasharp-eap/index.json

Try version `1.68.1.1-preview.2` as that should have the fix. _(there is a 1.68.2 series, but that is actually older because I decided to get .1.1 out first with this fix)_

[2019-12-03 12:20] mattleibow commented on #968
@JKennedy24 Is it also an `EntryPointNotFoundException` exception? Also, could you just add your stack trace so I can see if it is exactly the same?

[2019-12-03 12:32] NotOfficer commented on #1046
Ah thanks, i didn't know there was a package for the linux dependencies.

[2019-12-03 12:38] lothargrieb commented on #1047
I have almost similar problem.
Since moving from 1.68.01 to 1.68.1, I  cannot override SKCanvasViewRendererBase at the UWP project. Decompiling points me always to the Mono version.

[2019-12-03 12:38] mattleibow commented on #1047
@knocte The netstandard library is actually moved to the ref folder so that the compiler never copies it to the device. It was done to solve https://github.com/mono/SkiaSharp/issues/1011. You typically should not be using the netstandard library directly as it contains stub methods / missing methods as it is just for reference only.

But... If it is working for you, then maybe we can have a look a

[2019-12-03 12:40] mattleibow commented on #1047
@lothargrieb We just spotted that in #1042 and a fix is in #1044. I have pushed out a fix to the preview feed:

https://aka.ms/skiasharp-eap/index.json

Try version 1.68.1.1-preview.2 as that should have the fix. _(there is a 1.68.2 series, but that is actually older because I decided to get .1.1 out first with this fix)_

[2019-12-03 12:44] #1046 closed

[2019-12-03 12:44] mattleibow commented on #1046
Closing this as you should be able to use the NuGet. Feel free to reopen (or a new one) if there are issues.

[2019-12-03 12:52] mattleibow commented on #1033
If I understand what `GetFlattenedPathGeometry` does, this might be what you are looking for: https://docs.microsoft.com/dotnet/api/skiasharp.skpaint.getfillpath

[2019-12-03 12:52] mattleibow commented on #1016
@mackel90 Did you manage to go any further?

[2019-12-03 12:54] loketha opened #1049 "[BUG] Text size measured improperly while using skiasharp"
**Description**

Particular text width is calculated wrongly when using skiasharp to measure the text size.
Got the same result when using with SKTypeface.FromStream and SKTypeface.FromFamilyName.

**Code**

            SKPaint paint = new SKPaint();
            paint.Typeface = SKTypeface.FromFamilyName("B Sina",SKTypefaceStyle.Normal);
            paint.TextSize = 11;
            float size = pa

[2019-12-03 13:07] SeRgI1982 commented on #1033
Currently, I finish working on this.
I draw a newPath taken from GetFillPath and check if pixel color in touched/clicked location has the same color like color of my original path (original path has always one color).

Having this function I was able also to detect the real beginning of drawn path for ex. you have triangle with thick StrokeThickness. Original SKPath doesn't include points where bo

[2019-12-03 13:22] mackel90 commented on #1016
I managed to set that up  like you(@mattleibow) mentioned and worked around this by omitting the build step. Thanks!

The real thing I wanted to do is build myself so I dont need to wait for a release for following exsisting issue, because it is stucked in checks: https://github.com/mono/SkiaSharp/pull/953
Would be happy if this will be ready in a NuGet release in the near future.

[2019-12-03 13:22] #1016 closed

[2019-12-03 13:26] Gillibald commented on #1049
Are you sure that GDI isn't shaping the text?

[2019-12-03 13:42] mattleibow commented on #1049
I think @Gillibald is right, SkiaSharp does not actually do any text shaping - and will always be wrong.

I would suggest having a look at https://github.com/toptensoftware/RichTextKit to draw text in SkiaSharp.

We are having a look at what we can do to improve text in SkiaSharp, but for now the best option is probably RichTextKit as that does probably more than what SkiaSharp will ever do,

[2019-12-03 13:47] vijayasurya20 opened #1050 "[BUG] System.TypeInitializationException : The type initializer for 'SkiaSharp.SKImageInfo' threw an exception."
**Description**

System.TypeInitializationException : The type initializer for 'SkiaSharp.SKImageInfo' threw an exception.
System.DllNotFoundException : Unable to load DLL 'libSkiaSharp': The specified module could not be found.

**Code**

We have created a .Net Framework test project referencing the .Net Standard library where the Library has "SkiaSharp" as one of its dependency package. While ru

[2019-12-03 13:49] vijayasurya20 commented on #1050
Please find the test project  in which we are facing issue from the following link.

[Test project.zip](https://github.com/mono/SkiaSharp/files/3916928/Test.project.zip)

[2019-12-03 13:59] mattleibow commented on #1050
What happens if you install SkiaSharp into the test project?

I think the default project rules basically say not to include these native libraries. I am working on #1041 to see if this will fix this issue.

[2019-12-03 14:11] vijayasurya20 commented on #1050
Hi Mattlie,

Thank you for your update.

As you have mentioned, while installing the SkiaSharp into the test project works fine.

Since we have added the .Net Standard library project which has "SkiaSharp" as dependent package is added as dependency of Test project, then please let me know why should we need to add "SkiaSharp" package individually into the test project. Because the Library project

[2019-12-03 14:32] JKennedy24 commented on #968
Ok so I don't know whether this is related, because I don't fully understand what's causing the issue but I'll post some information here anyway

I noticed at the top of Mac VS it said "Install missing Xcode command line tools" (I guess Xcode automatically updated and Mac vs is checking whether command line tools exist?) After doing this I upgraded back to 1.68.1 and it seems to build and doesn't

[2019-12-03 14:37] pmahend1 commented on #1042
I checked ,it seem to have fixed the issue. @mattleibow Please let me know once you release into nuget org.

[2019-12-03 14:54] JKennedy24 commented on #968
Interestingly my third party bug I said about has the following stacktrace:

I see this looks like a similar stack trace to:

https://github.com/mono/SkiaSharp/issues/968#issuecomment-541241747

are the two linked?

[2019-12-03 16:20] Gillibald commented on #968
SkiaSharp.SVG and SkiaSharp.extended are not directly referencing the new version. Might that be an issue?

[2019-12-03 16:47] daltonks commented on #1049
Have you considered adding README links to other libraries that are useful? I wouldn't have known about RichTextKit or the SVG one (I already forgot its name, hah) without watching this repo.

[2019-12-03 17:25] mattleibow commented on #1049
Hehe, I think I must. I _just_ found out about them recently as well. I'll update the readme - I think it is a bit old right now...

[2019-12-03 17:26] #1035 closed

[2019-12-03 17:27] mattleibow commented on #1042
Awesome. Will do.

[2019-12-03 17:33] mattleibow commented on #1050
I believe it is because the way the build works with the .net framework build. This actually won't happen with .net core. What is happening is that we have a .targets file that copies the native libraries from .net framework. But, with the new tooling, it ignores it unless you have a specific reference.

This is the issue tracking that: https://github.com/mono/SkiaSharp/issues/1041

I'll release a

[2019-12-03 18:59] mattleibow commented on #1050
Closing this as a duplicate of #1041

[2019-12-03 19:01] mattleibow commented on #1041
Just bringing in a comment from @vijayasurya20: https://github.com/mono/SkiaSharp/issues/1050#issuecomment-561184570

[2019-12-03 19:12] mattleibow commented on #1041
@vijayasurya20 raises a good point - why should the test project need it to be specified. But this is not as straight forward as it may seem.

For .NET Core and all the platforms other than the full .NET Framework, the platform has the understanding that it should only reference the native libraries at the end of the chain. If I create a netcoreapp with a long dependency chain with only the last r

[2019-12-03 22:03] dotMorten commented on #1041
I used to limit this based on the output type (ie don't do it for class libraries). However that caused problems for people building plugins for other products, as they were now missing the native assemblies. So yes I'd say deploy it regardless.

[2019-12-03 22:23] john-dalsgaard commented on #968
Ok, so I tried to release another test version today. This time it does not work with version 1.68.0... it crashes instantly with:

`  SKObjectExtensions.SafeUnRef (SkiaSharp.ISKReferenceCounted obj)
    SKObject.DisposeNative ()
    SKNativeObject.Dispose (System.Boolean disposing)
    SKPicture.Dispose (System.Boolean disposing)
    SKNativeObject.Finalize ()`

If I run the same project in debug

[2019-12-03 22:59] mattleibow commented on #676
I think I am almost ready to get this in with #1040 So far, Nano Server seems to be working

[2019-12-04 01:12] #676 closed

[2019-12-04 01:15] mattleibow commented on #676
Merged into master! Will push out some packages to the early-access feed as soon as CI is done. Also hope to go public preview soon as well.

[2019-12-04 01:16] mattleibow commented on #591
Nano server images are now supported after #1040

[2019-12-04 09:25] john-dalsgaard commented on #968
Ok, it turned out that disabling LLVM optimization made it work again....

[2019-12-04 13:10] mattleibow commented on #968
This is very interesting as LLVM _may_ be removing things, but shouldn't as it is used by the p/invokes. I will investigate.

[2019-12-04 13:29] JKennedy24 commented on #968
Because I was using Debug builds when I tested LLVM optimiser isn't even enabled for me

[2019-12-05 10:54] FoggyFinder commented on #937
@mattleibow I see. Almost 3 weeks past without any responses and I have feeling that it won't be changed in foreseeable future. No, really I understand why - `ScrollOrientation.Neither` was added relatively recently and there are much more important bugs to fix.

But currently, as far as I can tell, there is no such way, isn't it?

I do think having a fix (even temporary) much better than nothing.

[2019-12-05 13:35] MaurizioPanzica commented on #1048
Well, after further investigations this behavior seems to be related to iOS and not to SkiaSharp itself.
In this particular scenario, the underlying scrollview, as soon as the scroll begins, invokes the method 'touchesCancelled' of the view and not the GestureRecognizer's.
This is why the SKCanvasView does not receive it. But the native view does. I guess something can be made at that level.

[2019-12-06 16:28] antongit opened #1052 "[BUG] SKImage.FromEncodedData(String) returns image with broken alpha on GPU backend"
**Description**

We are using 1.68.1 and see that SKImage.FromEncodedData(String) loads PNG images with broken alpha when drawn on GPU backend.

**Code**

[code]

**Expected & Actual Behavior**

![image](https://user-images.githubusercontent.com/1189037/70338537-6b4d5500-184d-11ea-9f73-7d9c2b2d07de.png)

**Basic Information**

- Version with issue:  1.68.0, 1.68.1
- IDE:  Visual Studio
- Platform

[2019-12-06 17:43] antongit opened #1053 "[BUG] 2 Issues: Antialiasing is broken, SVG doesn't show up on GPU backend"
**Description**

Our another test with the 1.68.1 on GPU backend:
- [ ] we see that Antialias doesn't work anymore on some machines
- [ ] SVGs do not show up

**Regarding Antialias:** the machine I'm using: ThinkPad X1, GeForce GTX 1050 Ti, Driver 441.12, tested with different drivers.

**Regarding SVG**: the SVG is drawn only if the SKPaint is set to null.

**Code**

[code]

**Expected & Actual B

[2019-12-07 00:06] #1033 closed

[2019-12-07 09:12] knocte commented on #1047
Not sure what you mean with this? I just use SkiaSharp.Views.Forms in my project because one single static method I make use of: `SkiaSharp.Views.Forms.Extensions.ToSKColor()`. I'm sure this can be made available in a .netStandard binary which works across all platforms, or am I missing something?

[2019-12-08 09:18] Mikolaytis commented on #1052
This is not the only overload with this behavior. I've faced the same issue with Stream overload if I am remember it correctly. Fixed it with use of another overload.

[2019-12-09 12:25] mattleibow commented on #1052
I'll have a look and see what I can find out. Maybe something is broken in the decoder that is not using the correct alpha from the file - but - it works in raster...

[2019-12-09 20:56] mattleibow commented on #1052
Thanks for the issue. I got a fix building and it will be in the 1.68.1.1 release.

[2019-12-09 23:02] mattleibow commented on #591
Just linking this new issue : https://github.com/NuGet/Home/issues/8894

[2019-12-09 23:02] mattleibow commented on #676
Just linking this new issue : https://github.com/NuGet/Home/issues/8894

[2019-12-10 17:42] #1052 closed

[2019-12-11 01:23] mattleibow opened #1058 "[BUG] SKTypeface.FromFamilyName should not return null... or could?"
**Description**

Not sure what is going with `SKTypeface.FromFamilyName`. The code docs say it should NEVER return `null`, but does and should in some cases? Those are conflicting statements right there.

I see this previous issue where I say that there is no guarantee: https://github.com/mono/SkiaSharp/issues/643

But, there is in this docs:
[code]
https://github.com/mono/skia/blob/xamarin-mobile

[2019-12-11 01:26] mattleibow commented on #1058
This PR (https://github.com/toptensoftware/RichTextKit/pull/6) in RichTextKit fixes it, but I am not sure if we _should_ fix this in SkiaSharp. Isn't a null match meaning that there is no match.

[2019-12-11 01:26] mattleibow commented on #1058
I am thinking about this and I am starting to agree with #643 and just say it _may_ return null if no match was found.

[2019-12-11 06:25] Gillibald commented on #1058
I need a way to know that a font wasn't found. If I can always compare with the default it is fine to return the default. I doubt that always works.

[2019-12-11 09:55] mattleibow commented on #1058
That's the thing... Deep inside the logic, it may/may not decide to use default.

It might be better to use the `SKFontManager` and use `GetFontStyles`: https://docs.microsoft.com/en-us/dotnet/api/skiasharp.skfontmanager.getfontstyles

You can then also find the nearest bold/italic combo that tickles your fancy. For example, there my be a black and not a bold or something.

[2019-12-11 09:57] mattleibow commented on #1058
I think to be consistent, the SKTypeface should never return null, but SKFontManager is to be used to see if there was a match. I'll do some tests.

[2019-12-11 10:25] Gillibald commented on #1058
FromFamilyName already does the fallback for you. https://docs.microsoft.com/en-us/dotnet/api/skiasharp.sktypeface.fromfamilyname?view=skiasharp-1.68.1#SkiaSharp_SKTypeface_FromFamilyName_System_String_SkiaSharp_SKFontStyleWeight_SkiaSharp_SKFontStyleWidth_SkiaSharp_SKFontStyleSlant_

I prefer getting a null if the request can't be fulfilled so I can deside how to proceed.

[2019-12-11 10:28] mattleibow commented on #1058
That's the thing, on Android and Linux, it doesn't. It _may_ return null.

[2019-12-11 10:29] Gillibald commented on #1058
Currently I do this https://github.com/AvaloniaUI/Avalonia/blob/master/src/Skia/Avalonia.Skia/FontManagerImpl.cs#L97 this works as long as the default never changes.

[2019-12-11 10:34] mattleibow commented on #1058
If I do this on Android:
[code]

I get a null, on macOS I get the default. But, it is not equal to SKTypeface.Default...

[2019-12-11 10:38] mattleibow commented on #1058
I tried:

[code]

on macOS, none are null, but `fm` is an empty set. `fm2` is the default.

on Android, `fm` is also an empty set, but `fm2` and `tf` are null

[2019-12-11 10:43] mattleibow commented on #1058
Looking at the implementation of the matching, it pretty much always creates a new reference to the font. So we can't even use the == Default because it creates a new object each time.

[2019-12-11 10:47] Gillibald commented on #1058
Is the UniqueId also different?

[2019-12-11 10:52] mattleibow commented on #1058
I haven't exposed that, but most probably as the only reference to that field is just a blind new, incrementing value:

https://github.com/mono/skia/blob/xamarin-mobile-bindings/src/core/SkTypeface.cpp#L21

[2019-12-11 10:53] Gillibald commented on #1058
Why on earth did they do that? So I have to cache Typefaces on my own? 🤔

[2019-12-11 10:54] mattleibow commented on #1058
Looking at Android some more, and I see that if I match `Helvetica` - it matches, but `sans-serif` is the font name...

[2019-12-11 11:00] mattleibow commented on #1058
Looks like the most consistent is the `SKFontManager.Default.GetFontStyles(<family>)` and that returns a list of supported styles. If there is no font, then there are no styles.

You can then use `SKFontManager.Default.MatchFamily(<family>, <style>)` to find the specific typeface.

[2019-12-11 11:01] Gillibald commented on #1058
It depends on the actual font manager. For platforms that are using FontConfig aliases are sometimes used to resolve some font.

[2019-12-11 11:18] Gillibald commented on #1058
Good to know this. Will change my code to use the SKFontManager to resolve fonts.

[2019-12-12 12:24] satochibi commented on #988
This is because we want to create drawing software that can handle screen tones of 1px physical units.
At this time, I want to be able to display the screen tone in a certain size, whether the picture drawn on the art board is enlarged or reduced.
We did this, but we considered XML serialization to save and load the state of the picture we drew.
In short, I wanted to do a “Save Project” like an ad

[2019-12-13 00:45] #1041 closed

[2019-12-13 00:53] jvhgamer opened #1059 "[QUESTION] How to crop image using SKPixmap and SKImage?"
**Description**
I'm using Skiasharp to crop a screenshot. Currently I'm seeing an issue with the image after cropping it. The image is all black as if it is completely blank. However before cropping, if we save the image, it returns okay.

Please could you suggest how to properly save a cropped image?

NOTE*: The code commented out under headers "crop image/bounds of cropped image/size" is what we

[2019-12-13 01:01] mattleibow commented on #1053
Confirmed that this still works fine on macOS. I bet it has to do with something on Windows because we switched from the ancient OpenTK v1.1 to v3.0.

👀

[2019-12-13 01:34] jvhgamer commented on #1059
EDIT: Believe this simpler code can replace the latter. Still the cropped result image is all black, however.
[code]

Can replace
[code]

[2019-12-13 03:29] mattleibow commented on #1053
I can repro this on my Surface Book 2 with the NVIDIA GeForce GTX 1050. It is fine on the Intel(R) UHD Graphics 620 though... Probably the setup for the graphics.

[2019-12-13 04:35] mattleibow commented on #1053
Thanks for reporting this. The issue was that the control was just going for the max samples that SkiaSharp supported, which was sometimes too high for the actual GPU. The fix is to actually ask the control how many samples to use.

[2019-12-13 05:26] #1053 closed

[2019-12-13 09:08] antongit commented on #1053
Hurray! Thank you.

[2019-12-13 14:35] bender2k14 opened #1061 "[BUG] Unable to load DLL 'libHarfBuzzSharp' during WPF "Text Shaping" sample"
**Description**

Unable to load the DLL `libHarfBuzzSharp` from the `Text Shaping` sample in the `Gallery` solution for WPF.

**Steps to Reproduce**

1. Clone repo
2. Open the `master` branch
3. Open the WPF `Gallery` sample at `C:\Code\ThirdParty\SkiaSharp\samples\Gallery\WPF\SkiaSharpSample.sln` using Visual Studio
4. Set `SkiaSharpSample` as the StartUp project*
5. Start debugging in Visual Stu

[2019-12-14 01:56] mattleibow commented on #968
So, I have been looking at this and it is a result of https://github.com/xamarin/xamarin-macios/issues/7514. When the framework is extracted, it is not actually deployed to the device.

The best way to make all this work is to just delete the bin and obj folders after updating the NuGet. Then a restore and build should make everything work again.

This is a bit of a pain, but I hope to try out som

[2019-12-14 01:56] #968 closed

[2019-12-16 19:21] lmcdougald commented on #379
Worth noting that Xamarin.GTK now requires OpenTK 3+, so that roadblock shouldn't be a factor anymore.

[2019-12-16 23:50] jvhgamer commented on #1059
Am I allowed to bump? ... If not I apologize and will delete this comment. Thanks for reading.

[2019-12-17 06:49] charlenni opened #1064 "[BUG] GRContext is null on Android 5.0 when coming back from another app"
**Description**

I use SKGLView in a Xamarin Forms app. When I leave the app to another app and come back, the GRContext is null and so I could not draw the screen again. This happens on Android 5.0. On Android 9.0 I don't have this problem. Both tested with the emulator.

Perhaps I should call something to recreate the GRContext after coming back?

**Code**

**Expected Behavior**

**Actual Behavi

[2019-12-17 14:54] mattleibow commented on #1059
Sorry about the delay. I thought I responded. Looks like I just opened the tab :)

Looking at your code, you may be doing `gch.Free();` too soon as `new SKPixmap(info, addr);` does not actually copy the pixels, it just references them. I also see a few more native operations as well that are maybe not needed. Also, there are a few good members on `SKPixmap` that you can use directly.

Here, I have

[2019-12-17 15:05] mattleibow commented on #379
I am hoping to get these views in sometime soon. Let me move this to v1.68.2 so we can track this a bit more visibly.

[2019-12-17 15:14] knocte commented on #1047
Is this related to https://github.com/mono/SkiaSharp/issues/379 ? I don't understand how this has worked before.

[2019-12-17 19:42] bender2k14 commented on #1029
I might be able to help get dual targeting working for `View.WPF`.

----------------------

Currently, `View.WPF` references on NuGet packages `OpenTK` and `OpenTK.GLControl`, but the project still compiles if they are removed.

Are these
----------------------

[2019-12-17 19:44] mattleibow opened #1065 "[FEATURE] Split the SkiaSharp.Views.Forms dll into a shared and a platform dll"
In cases where platforms are not supported, the SkiaSharp.Views.Forms package used to allow the use of a netstandard dll. This caused issues when using the WPF package or any other packages we add in the future. (see #1011)

As a result of this issue, we moved the netstandard dll to ref-only as it was intended in #1012. The packages now work correctly (no longer crashes), but breaks in cases where

[2019-12-17 19:46] mattleibow commented on #1047
This used to work because I had the nuget install the netstandard dll into platforms that were not supported. This was incorrect behavior because if you were to install the WPF nuget or the (hopefully soon) GTK nuget you would get duplicate dlls - the one from the core forms and the one from the WPF/GTK nuget. In addition, several paths would also throw exceptions

See https://github.com/mono/Skia

[2019-12-17 19:51] bender2k14 commented on #1029
I might be able to help get dual targeting working for `View.WPF`.

----------------------

Currently, `View.WPF` references NuGet packages `OpenTK` and `OpenTK.GLControl`, but the project still compiles if they are removed.

Are these references needed?  Are they only runtime dependencies on them?

----------------------

(After removing references to `OpenTK` and `OpenTK.GLControl`...)

I can ge

[2019-12-17 20:14] bender2k14 commented on #1029
Quoting from https://github.com/mono/SkiaSharp/issues/1011#issue-523581067

I think this describes a problem I had as well.  Both `SkiaSharp.Desktop` and `SkiaSharp.NetStandard` produce a DLL named `SkiaSharp.dll`.  Then when dual targeting, the target that comes second in the list fails to find the appropriate `SkiaSharp.dll`.

[2019-12-17 21:03] mattleibow commented on #1029
THANKS!

---
It could also be an issue with all the old versions of things used in the master branch. Try using the [dev/vs-2019](https://github.com/mono/SkiaSharp/tree/dev/vs-2019) branch. I will be merged that in soon and it makes life much easier. I think the multi-targeting is broken a bit with the old .net core 2.1

[2019-12-18 20:40] bender2k14 commented on #1029
It is better.  That problem with `SkiaSharp.dll` is gone, but for simplicity before, I didn't mention that a similar problem exists where `SkiaSharp.Views.Desktop.Common` and `SkiaSharp.Views.Desktop.Common.NetStandard` both produce a DLL named `SkiaSharp.Views.Desktop.Common.dll`.

I think I can combine `SkiaSharp.Views.Desktop.Common` and `SkiaSharp.Views.Desktop.Common.NetStandard` into one pro

[2019-12-19 14:40] charlesroddie commented on #1016
@mackel90 pending merge of that PR we are using a custom renderer. @FoggyFinder can share the code if it would help you.

[2019-12-19 16:18] mattleibow commented on #1029
It does :)

PR merged.

[2019-12-19 19:00] bender2k14 commented on #1029
I think these `OpenTK` dependencies are now the only obstacle preventing `View.WPF` from targeting .NET Core.

Does anyone know anything about these dependencies?

[2019-12-19 19:11] mattleibow commented on #1029
Maybe the references can be removed for WPF.

But, I see the OpenTK is built for net20, so even if the references are not "official" .net core, it should work...

But, for WPF, if we aren't using it, then we can remove it.

[2019-12-19 19:12] mattleibow commented on #1029
What is the actual reason you can't target netcoreapp with a reference to OpenTK? Is it a compiler error? Runtime error?

[2019-12-19 19:45] bender2k14 commented on #1029
My concern is just these warnings.
[code]

I also noticed that these packages target .NET Framework 2.0.  It does seem like a .NET Core 3.0 application should be able to utilize .NET Framework 2.0 dependencies (based on [this table](https://docs.microsoft.com/en-us/dotnet/standard/net-standard)).

They aren't being used at compile time.  That much is for sure.  Sometimes though a NuGet package nee

[2019-12-19 20:05] mattleibow commented on #1029
Oh no! 😭

https://github.com/opentk/opentk/issues/823:

[2019-12-19 20:51] bender2k14 commented on #1029
Should be able to make quick work of it via find/replace.

[2019-12-19 21:02] mattleibow commented on #1029
I'm a bit more worried about people updating the package and then blowing up at runtime or something.

[2019-12-19 23:09] warappa opened #1070 "[FEATURE] Define HAVE_FREETYPE to support fonts loaded by FreeType"
### Problem
For loading **Adobe Type 1 fonts** I need to load them with **FreeType** first and hand the loaded font over to **HarfBuzz** for layout. HarfBuzz has built-in support for it - if enabled at compile time.

Currently `libHarfBuzzSharp.dll` is built without `HAVE_FREETYPE` so the function `hb_ft_font_create` is not available.

### Desired Change
* Update the config.h files to define `HAVE

[2019-12-19 23:24] Gillibald commented on #1070
Freetype is only available on Linux so this wouldn't be xplat. You can still use Freetype in combination with HarfBuzzSharp. You can load a face with https://github.com/mono/SkiaSharp/blob/master/binding/HarfBuzzSharp.Shared/Face.cs#L35 and construct a font. Just implement the needed interop code to get the required tables from freetype.

[2019-12-19 23:30] warappa commented on #1070
@Gillibald Thanks for the fast response!
I struggled using this constructor - is there any sample/further documentation about this?

Overload: 👍

[2019-12-19 23:32] Gillibald commented on #1070
This is the Skia version: https://github.com/AvaloniaUI/Avalonia/blob/master/src/Skia/Avalonia.Skia/GlyphTypefaceImpl.cs#L21

[2019-12-19 23:35] warappa commented on #1070
This looks promising, thank you!

[2019-12-20 05:39] JeganSyncfusion opened #1071 "[QUESTION] will skia work in UWP ARM64 architecture?"
will skia work in UWP ARM64 architecture?

[2019-12-20 06:10] mattleibow commented on #1071
Yes and no.

No for right now because the current set of packages are based on fairly old builds.

Yes for in a bit. Right now we have an old build system. We need to update to VS2019 (#1030). That just does the managed part, but I'm working on the PR for the native bits. Shouldn't be too hard, just haven't gotten to it yet.

[2019-12-20 06:15] MuziburRahman opened #1072 "Instead of SKPoint, can't we use Vector2 everywhere?"
`System.Numerics.Vector2` is .NetStandard struct and is super usable. It has all the functionality of `SKPoint` plus a lot of cool functionality. Why invent a new struct if `Vector2` is already available?

[2019-12-20 06:25] mattleibow opened #1073 "[FEATURE] Split the SkiaSharp package into separate NativeAssets packages"
**Is your feature request related to a problem? Please describe.**
The download and install of SkiaSharp is potentially an issue with about 100MB of native files to pull down.

**Describe the solution you'd like**
The installation of SkiaSharp should only pull down the native assets that are actually required. If I install a package into Xamarin.iOS, don't pull down macOS, UWP, Android, and all th

[2019-12-20 06:27] mattleibow commented on #1072
SKPoint was around for a very only time, before Vector2. Changing that will break everything.

What we can do is pull in all the features from Vector2 and add it to SKPoint and SKPoint3. Or, for later versions of .NET (or if the nuget works) add some implicit conversions between the two.

[2019-12-20 10:12] nor0x opened #1074 "[BUG][Xamarin.Forms macOS & iOS] Stack overflow when using SKGLView"
**Description**
I switched from `SKCanvasView` to `SKGLView` in my `Xamarin.Forms` app and since then am not able to run the macOS and iOS projects. I'm getting a `Stack overflow: IP: 0x114116454, fault addr: 0x7ffee32d0fe0`. When i switch back to `SKCanvasView` everything works as expected but since rendering could be quite intense in this project I would be happy to use `SKGLView`. Android proje

[2019-12-20 10:12] sychare opened #1075 "1.68.1.1 not published on NuGet?"
It appears that 1.68.1.1 has not actually been published on NuGet despite a link to it on the release notes?

[2019-12-20 11:50] MichaelLogutov commented on #1075
Was wonderring the same.

[2019-12-20 13:47] MuziburRahman commented on #1072
Other .NetStandard libraries have `Vector2`, while SkiaSharp uses SKPoint.
It's annoying to convert it Vector 2 and vice versa every time.

[2019-12-20 13:47] #1072 closed

[2019-12-20 19:17] gktval opened #1076 "SKMatrix.Concat Ambiguity in VB.Net"
The SkMatrix.Concat method has two options: with and without 'ref' values. Unfortunately, I am forced into using VB.Net, which cannot specify which Concat method to use except through reflection. Thus, in VB.Net, I will get a compile error "'Concat' is ambiguous because multiple kinds of members with this name exist in structure 'SKMatrix'."  Could I kindly ask that two methods be named slightly d

[2019-12-21 03:03] mattleibow commented on #1076
This is a duplicate of #399

[2019-12-21 03:03] #1076 closed

[2019-12-21 03:04] mattleibow commented on #399
There is a comment here (https://github.com/mono/SkiaSharp/issues/1076#issue-541156546) that could potentially fix this by adding a differently-named overload for VB. This might be all that is needed.

[2019-12-21 03:05] mattleibow commented on #399
Moving it to v1.68.2 so we can make sure this gets done.

[2019-12-21 03:08] mattleibow commented on #1075
Trying something new here and tagging the build and then releasing the tag. Doing some last minute testing. Hope to get it out today. You folks are too fast for me 😄

[2019-12-21 03:11] mattleibow commented on #1074
Looks like there may be a bug in the fact that you are calling InvalidateSurface in the PaintSurface event. Is there a way you could potentially use another way to refresh the view until this is fixed?

There is the render loop that may work if you are doing updates game-style. Or, you can use the Forms' RunOnMainThread logic to post the call without causing a SO?

[2019-12-21 05:54] mattleibow commented on #1075
Just pushed this up to nuget.org! Just needs a few minutes to propagate around the globe... Or if you are a flat-earther... to reach the Ice Wall that all the governments are hiding from us!

[2019-12-21 05:54] #1075 closed

[2019-12-21 06:14] mattleibow commented on #1029
I see the actual WPF nuspec did not depend on OpenTK, so I think we should be good with the updates. Either that or I have been release broken packages 😆

[2019-12-21 12:57] bender2k14 commented on #1029
Great observation :)

PR #1078 up for that change

[2019-12-22 04:43] mattleibow commented on #1029
This is now complete since #1067 and #1069

[2019-12-22 04:46] mattleibow commented on #1071
I think we can do this for v1.68.2

[2019-12-22 04:50] #1050 closed

[2019-12-22 04:52] bender2k14 commented on #1029
I didn't make any changes to `Views.Windows Forms`.  I think it still targets only .NET Framework.

Should this issue stay open until it is also dual targeting with .NET Core?

[2019-12-22 04:52] mattleibow commented on #996
@AlexNosk Since the release of 1.68.1, I believe there were several major fixes for memory leaks. I am closing this issue as it appears to be fixed. If you fine that this is not the case, feel free to reopen this issue.

[2019-12-22 04:52] #996 closed

[2019-12-22 16:47] mattleibow commented on #1029
Yep, it should. Thanks.

[2019-12-22 23:39] warappa commented on #1070
@Gillibald I fiddled around with it and ... failed, because the font I'm using **doesn't provide _any_ sfnt data** for sfnt tags.
As far as I understand my code would have to "calculate" the various sfnt tables and provide it via the GetTableDelegate, but that ... overwhelmed me.

For testing purpose I replaced `libHarfBuzzSharp.dll` with the version from [SharpFont.Dependencies](https://www.nuget

[2019-12-23 06:14] #925 closed

[2019-12-23 07:30] Gillibald commented on #1070
Just implement this in C# https://github.com/harfbuzz/harfbuzz/blob/master/src/hb-ft.cc

[2019-12-23 13:08] Gillibald commented on #1070
It is totally normal that a font is missing some tables

[2019-12-24 15:38] warappa commented on #1070
I'm sorry but after a few hours I'm stuck - at an very early stage. I don't think I'm able to convert this C code to C# as C's and C#'s memory- and data-management and -access paradigms are too far apart for my skills to translate.

I will try to solve my problem in another way.

But thanks for your support Gillibald!

[2019-12-24 15:38] #1070 closed

[2019-12-24 16:04] Gillibald commented on #1070
I will have a look at this in the near future

[2019-12-26 08:26] mattleibow commented on #1003
Been a long time since you asked, but this is something I am wanting to do.

There are a few reasons why this is not done yet, the simplest is that I just haven't gotten around to it. It is a bit of work, and it needs to be done.

Other reasons is that the actual C++ API is a bit varied and will make tools a bit harder to write. However, this is no reason why we can't do it.

On thing that I do wh

[2019-12-26 08:34] mattleibow opened #1080 "[FEATURE] Generate the SkiaSharp from the C++ Code"
This is a top-level issue for the discussion for generating all the bits of the SkiaSharp APIs.

This is a fairly complex task with all the platforms that are supported, the compatibility requirements and other things. However, this probably needs to be done at some point.

 - [ ] Generate the C API (#1003)
 - [ ] Generate the C# API (#1002)

[2019-12-26 08:38] mattleibow commented on #1003
On the point of the don't fork the native repo, I don't think this will be possible in the near future because of the non-API changes required. We could upstream them, but this also needs to be done.

Some of the things that we change to support our feature set are additional platforms as well as managed-only features that Google probably doesn't want in their code.

I have no problem about parsin

[2019-12-26 08:51] mattleibow commented on #1002
So, this is partially true - the C# interop is generated, but not the classes.

As I mentioned in #1003, I would like to have a magical tool to do the work, but I will need to first create it. That will take some time.

But, another (probably more important) consideration is compatibility. So far, nobody really had major issues using later versions of SkiaSharp in their apps, but the underlying C+

[2019-12-26 13:08] #990 closed

[2019-12-26 13:09] #1059 closed

[2019-12-26 13:12] mattleibow commented on #906
Closing this due to lack of a response.

[2019-12-26 13:12] #906 closed

[2019-12-26 13:13] #969 closed

[2019-12-26 13:15] #957 closed

[2019-12-26 13:23] mattleibow commented on #924
You are correct that .NET Standard works on Mac. However the runtimes folder sadly only applies to netcoreapp.
It results in issues like this: https://github.com/xamarin/xamarin-macios/issues/6065

Right now, the Xamarin.Mac library has special attributes and embedded files that the toolchain know to extract and link. This goes for all the Xamarin platforms. The reason for this is that Xamarin was

[2019-12-26 13:23] #924 closed

[2019-12-26 13:24] mattleibow commented on #449
This was added in v1.68.1 over a few PRs.

[2019-12-26 13:24] #449 closed

[2019-12-27 01:34] EmilAlipiev opened #1081 "[QUESTION] why nuget shows skiasharp size is 87.51 mb?"
https://www.nuget.org/packages/SkiaSharp/
it shows here size of the package is 87.51 mb? where is this coming from?

[2019-12-27 09:07] mattleibow commented on #1081
That, my fine friend is the sheer power of .NET demonstrated! SkiaSharp is about 4-6MB, but if you have enough platforms it reaches that big number.
 - Android (x4)
 - iOS (x4)
 - macOS (x1)
 - Windows (x2)
 - UWP (x4)
 - tvOS (x2)
 - watchOS (x2)
 - Tizen (x2)

And that is just in the MAIN package - we have additional packages for 2 Linux versions and Nano Server!

We build for and support all th

[2019-12-27 13:52] v-vasilev-synergy commented on #977
This crashes for me too when running Mac on a Virtual Machine (where there's no hardware acceleration available due to display adapter not working with VM)
What's weird is that the same parameters used to work on 1.68.0

Turns out it's initializing the attributes as object[]
https://github.com/mono/SkiaSharp/blob/v1.68.1.1/source/SkiaSharp.Views/SkiaSharp.Views.Mac/SKGLView.cs#L50

Not NSOpenGLPix

[2019-12-27 13:54] MatheMagick commented on #977
This crashes for me too when running Mac on a Virtual Machine (where there's no hardware acceleration available due to display adapter not working with VM)
What's weird is that the same parameters used to work on 1.68.0

Turns out it's initializing the attributes as object[]
https://github.com/mono/SkiaSharp/blob/v1.68.1.1/source/SkiaSharp.Views/SkiaSharp.Views.Mac/SKGLView.cs#L50

Not NSOpenGLPix

[2019-12-27 21:01] #1029 closed

[2019-12-28 10:17] mattleibow commented on #977
That is very weird. I'll check what is happening in Xamarin.Mac and see if there is some funny business.

I'll see what I can do for a release ASAP to fix this.

[2019-12-28 11:22] #1081 closed

[2019-12-28 15:24] mattleibow commented on #977
Closing this with #1083 as that seems to be the only change made. We can always reopen this.

I think the issue was that the `NSOpenGLPixelFormatAttribute[]` required a null-termination, and the `object[]` did not (added in the internal conversion). Seems having a double null-termination broke a few more things than it probably should have.

[2019-12-28 15:24] #977 closed

[2019-12-29 05:04] EmilAlipiev commented on #1081
This sounds cool. I love to use skiasharp and now trying to integrate in tizen wearable apps using xamarin.forms. I was concerned about size issue. because on phones it is acceptable any big megabytes but on watches it should be as small as possible :)

[2019-12-29 22:30] JaggerJo opened #1084 "[FEATURE] SKCanvas.DrawText support Span<byte>/Memory<byte>"
**Is your feature request related to a problem? Please describe.**
Performance improvement. Drawing a line of a document would allocate (because a sub array/string is needed).

This can be avoided by passing `Span<byte/char>` or `Memory<byte/char>`.

**Describe the solution you'd like**
add overloads for Span and Memory where appropriate.

**Describe alternatives you've considered**
using the Text

[2019-12-29 22:31] JaggerJo commented on #1084
https://github.com/mono/SkiaSharp/blob/247569e0954bb8dfb078ed180cf7b8d7cfe702bf/binding/Binding/SKCanvas.cs#L512

[2019-12-29 22:32] JaggerJo commented on #1084
https://github.com/mono/SkiaSharp/pull/865

[2019-12-29 22:32] Gillibald commented on #1084
You should use SKTextBlob to draw your text and that already has what you want.

[2019-12-29 22:35] JaggerJo commented on #1084
Wow, that was quick 😄. Thanks for the link!

[2019-12-29 22:37] #1084 closed

[2019-12-29 22:38] Gillibald commented on #1084
Here I am drawing the filled blob
 https://github.com/AvaloniaUI/Avalonia/blob/master/src/Skia/Avalonia.Skia/DrawingContextImpl.cs#L236

[2019-12-29 22:40] Gillibald commented on #1084
Just let me know if you need more assistance 👍

[2019-12-29 22:44] JaggerJo commented on #1084
Thanks! It's a lot more complicated than I thought.

[2019-12-29 22:51] Gillibald commented on #1084
The thing is for Latin text text editing and rendering is trivial. Anything else requires a lot of work.

[2019-12-30 10:19] nor0x commented on #1074
i was able to fix this by changing the way i refresh the view - thanks @mattleibow

still, it would be great if one could toggle GPU rendering without changing much of the painting coded. Should i keep this open?

[2019-12-30 12:42] nor0x commented on #756
Hi @mattleibow,
i'm back at my image performance experiments. `SkiaSharp 1.68.1` fixed my issues with `SetResourceCacheLimits`. I was able to render images on the GPU and add pan and pinch to my test canvas. As I'm still trying to draw as many large images as possible with smooth performance i followed the hints in the Google Skia Thread (https://groups.google.com/forum/#!topic/skia-discuss/ZFnS-N

[2019-12-30 17:50] AlonRom opened #1085 "How to Edit Polygon (bitmap) on top of a Google Map but still allow to move the map with swipe gestures?"
Hi,

I want to use this library in a Xamarin.Forms project.
I'm trying to put a bit map in a polygon shape (like your example: Show Non-Affine Matrix)
but this way I'm losing the swipe gestures on the map itself.
Is it possible to achieve both (maybe with absolut layout somehow)?
+ When a release the finger when finished to move one of the vertices, is there a way to convert the screen location to

[2019-12-31 07:12] hulluP commented on #974
@wieslawsoltes @mattleibow
I tried to plug in the svg.skia but I am failing to load any type of files. I tried multiple ways but I am getting a "System.PlatformNotSupportedException has been thrown".
my simple sample project is at https://github.com/hulluP/SkiaSVGIssue any pointers how to get the svgs to render are greatly appreciated.

thanks HP

[2019-12-31 07:51] wieslawsoltes commented on #974
Toy need to use one of support target frameworks for final executable netcoreapp2.2 or newer and net452 or newer. The nestadndard2.0 will not work if final executable does not use supported target framework. This is known issue.

[2019-12-31 11:51] mattleibow commented on #1084
I just started using https://github.com/toptensoftware/RichTextKit

![](https://raw.githubusercontent.com/toptensoftware/RichTextKit/master/docsrc/sandbox%402x.png)

[2019-12-31 11:52] mattleibow commented on #1074
Yes, leave it open and I will have a look.

[2019-12-31 11:56] mattleibow commented on #1085
I am not too sure about the maps. I would ask on the Xamarin.Forms repo. I also think they have/should have the ability to make the pins / polygons on the actual map using the map framework. The effort to draw polygons over a map is not going to be worth it - also there will always be some lag and offsets. Most mapping controls have the ability to do fairly complex things.

[2019-12-31 11:58] mattleibow commented on #974
Thanks @wieslawsoltes .

@hulluP I would suggest opening an issue on Svg.Skia so that not only can the issue be tracked, but it will get implemented. I am hoping @wieslawsoltes supports iOS and Android? Since SkiaSharp is cross-platform.

[2019-12-31 12:05] mattleibow opened #1087 "[BUG] Fix usage of GetMaxSurfaceSampleCount"
**Description**

I don't have a brain. No other reason.

See #1053, #1060 and #1086

I use `GetMaxSurfaceSampleCount` to determine the samples - even if the actual surface does not support that. 'Cause I got no brain.

[2019-12-31 12:28] wieslawsoltes commented on #974
It's issue with dependency `System.Drawing.Common` and missing stuff when using `.NETStandard 2.0` and using different executable than netcoreapp2.2 or newer and net452 or newer.

Svg.Skia depends on https://github.com/vvvv/SVG and it depends on `System.Drawing.Common`.

https://github.com/vvvv/SVG/issues/581

Probably some stuff is missing in `System.Drawing.Common` or other related issue with th

[2019-12-31 13:08] JaggerJo commented on #1084
@mattleibow Have you used it on Mac/Linux ?

Cloned it a few day ago and noticed it uses WinForms to host Skia, but it should be super simple to use Avalonia instead I think.

Avalonia uses the same Line Break detection I think.

https://github.com/Gillibald/Avalonia/blob/6b50a41e6af2605a73ad57e72d71a370008b16d3/src/Avalonia.Visuals/Media/Text/Unicode/LineBreaker.cs

[2019-12-31 13:29] Gillibald commented on #1084
I think my approach will be more pluggable and is xplat as well. My next refactoring will introduce some line services that can be used to build your own text layout. So in the end it will be possible to produce lines on demand. This is an requirement for large documents.

[2019-12-31 15:35] wieslawsoltes commented on #974
This is how Svg.Skia renders demo.svg file:
![SvgToPng_2019-12-31_16-34-49](https://user-images.githubusercontent.com/2297442/71626070-92e4d280-2beb-11ea-992f-8cfec3de3474.png)

[2020-01-02 13:04] mattleibow commented on #680
I'm having a look now and I think I might be able to slip it in for v1.68.2.

[2020-01-03 10:24] pardont commented on #978
the bug always exist in 4.4.0.991265...

[2020-01-03 12:34] mattleibow commented on #978
Do you have a stack trace?

I think it may be because you have `item.Title` as null and trying to draw that. Maybe.

[2020-01-04 17:49] N-Olbert opened #1088 "[FEATURE] Add missing SKRegion features"
**Is your feature request related to a problem? Please describe.**
Compared to the original Skia SKRegion, SkiaSharps implementation is very basic and lots of methods are missing (Compare to https://skia.org/user/api/SkRegion_Reference).

Most of the missing Methods are very easy to implement (f. e. translate(int, int), quickReject(SKRect), …), but I think it would be nice if they are available by

[2020-01-06 06:29] pardont commented on #978
I remove the code of drawing, exception always throw.

the stack trace:
![image](https://user-images.githubusercontent.com/2252587/71799639-e3977800-3090-11ea-89a7-4f2f34c01b3b.png)

[2020-01-06 13:58] mattleibow commented on #978
OK, not sure what that even means. Something is going wonky in the math... I'll have a look.

[2020-01-07 06:52] vijayasurya20 commented on #1041
Hi @mattleibow ,

I have checked in latest 1.68.1.1 release version, but still i am facing the same issue as raised in the following forum.
https://github.com/mono/SkiaSharp/issues/1050

Please let me know whether it is fixed? If not so when can I expect the fix for this issue?

Regards,
Vijayasurya A

[2020-01-07 10:22] JKennedy24 commented on #968
@mattleibow Just to double check. Do you think this issue will be fixed in V1.68.2?

[2020-01-07 14:46] mattleibow commented on #1041
I just tried your sample project attached to the other issue and upgraded. The tests ran in the IDE. All I did was unzip, open and upgrade.

[2020-01-07 20:55] bazilshep opened #1091 "[BUG] SKRegion new/dispose memory leak"
**Description**

SKRegion constructor leaks memory. The memory is not reclaimed after calling SKRegion.Dispose().

**Code**
[code]

Outputs:
[code]

With increased N:
[code]

With decreased N:
[code]

**Expected Behavior**

Memory delta to be zero or at least small, and not increase with increasing n.

**Actual Behavior**

Memory delta increases without bound with increasing n.

**Basic Informatio

[2020-01-08 00:46] mattleibow commented on #1091
Thanks for reporting this, I will investigate.

[2020-01-08 10:12] N-Olbert opened #1092 "[BUG] Assigning Bitmap.Pixels changes pixel value"
**Description**

See attachted unit test: If a assign an array of SKColors to the SKBitmaps "Pixel"-Property the values arent the values I assigned.

**Code**
[code]

Output: Assert.AreEqual failed. Expected:<#0dd8d889>. Actual:<#0dd0d081>.

**Expected Behavior**

Assigned values should not be modified.

**Basic Information**

- Version with issue:  1.68.1.
- Last known good version:  ?
- IDE:  Vi

[2020-01-08 11:01] N-Olbert opened #1093 "[BUG] SKPaint.GetGlyphWidths returns wrong size array"
**Description**

According to https://docs.microsoft.com/en-us/dotnet/api/skiasharp.skpaint.getglyphwidths?view=skiasharp-1.68.1 the return value of SKPaint.GetGlyphWidths is equal to the length of the input string

Single[]
Returns the text advances **for each glyph**

In the given code sample this is not true, input string length and result length missmatch.
Also this seems to be a real bug, bec

[2020-01-08 13:35] #379 closed

[2020-01-08 13:35] #555 closed

[2020-01-08 14:46] #680 closed

[2020-01-08 14:59] mattleibow commented on #1093
Thanks for reporting this. I'll investigate.

[2020-01-08 15:03] mattleibow commented on #1092
Just having a look at the snippet here, it might be because the alpha type is unpremultiplied. SKColor is premultiplied. It most likely some bug that is not converting and all that, but switching to Premul should fix this.

I'll investigate this, and see exactly what is and should be happening.

[2020-01-08 16:27] mattleibow commented on #1065
Moving this out of v1.68.2 as this is a bit more work (because the code was designed to be in a single dll) and it not particularly necessary at the moment with the bits in #1089

[2020-01-08 16:30] mattleibow commented on #1047
Closing this for now as this is "technically" a regression as a result of fixing a bug. It was also not a supported pattern. For GTK, we will be getting a new NuGet that has much more features #1089

As a result, this particular use case will be addressed at some point with #1065, but not right now. The progress will be tracked on that issue.

[2020-01-08 16:30] #1047 closed

[2020-01-08 17:13] N-Olbert commented on #1092
@mattleibow Changing to Premul does not change the behaviour for me.

This is actually a bit weired. It's not that way for all colors. In fact it works as expected for most of the colors, and only a few - like the one i picked for this bug report - are changed when assigned.

[2020-01-09 13:32] mattleibow commented on #1092
That is interesting. Thanks for this. I'll try a few things and see what's up.

[2020-01-09 14:01] Gillibald commented on #1092
https://skia.org/user/api/SkBitmap_Reference#SkBitmap_getColor

This always returns a unpremultiplied color and potentially loses some information in the conversion. So I guess slightly different results are expected.

[2020-01-09 19:51] john-dalsgaard commented on #968
I tried to update to 1.68.1.1 - but this error seems still to be relevant (if it is exactly the same?). This happens on launch of my app (in debugger):

[code]
Downgrading to 1.68.0 - restore NuGet packages and cleaning the project fixed the issue for now ;-)

This is my environment:
[code]
... and also latest Xamarin.Forms (4.4.0.991265)

[2020-01-09 20:11] MuziburRahman opened #1094 "NullReference exception in SKTextBlobBuilder"
What is the proper way to use SKTextBlobBuilder?
I wrote this method and it throws `NullReferenceException`:
[code]
where `LabelTextFormat` is a SKPaint object; Note that I ensured neither the `text` nor the `LabelTextFormat` is null when the method is executed.

I then discovered that if I set the `TextEncoding` property of the paint to `SKTextEncoding.GlyphId`, the method works fine, no exceptio

[2020-01-09 20:17] Gillibald commented on #1094
https://github.com/mono/SkiaSharp/blob/master/binding/Binding/SKPaint.cs#L486 is your friend. SKTextBlob is the low level component to store a run of glyphs and only works with SKTextEncoding.GlyphId

[2020-01-09 20:21] Gillibald commented on #1094
I think https://github.com/mono/SkiaSharp/blob/master/binding/Binding/SKTextBlob.cs#L53 throws underneath when something goes wrong.

[2020-01-10 07:55] N-Olbert commented on #1092
Thanks @Gillibald, this seems to be the explanation. I only looked up Microsoft's documentation, where this behaviour isn't mentioned (at least not for the "Pixels"-Property, for GetPixel it is in fact mentioned vaguely).

I just came across this when trying to verify the image creation process with unit tests.
If anyone else dicovers this: If the pixels where actually installed to the bitmap, you

[2020-01-10 09:52] mbalous commented on #968
Experienced crashing with a very similar stacktrace (`sk_refcnt_safe_unref`) as @john-dalsgaard on SkiaSharp 1.68.1.1. Hovewer cleaning the solution and rebuilding the project fixed it.

[2020-01-10 13:41] john-dalsgaard commented on #968
@mbalous Good catch! I _should_ have done a clean before reporting this... (but I had issues with other packages so just saw the same issue as with 1.68.1).

But... upgrading _**and**_ cleaning seems to make it work. Thanks! I really prefer to have all of the latest versions installed - much easier to admin :-)

[2020-01-10 15:16] pauldendulk commented on #793
Here is a sample to reproduce the problem without Mapsui:
https://github.com/pauldendulk/mapsui-exception/tree/reproduce/without-mapsui
It is based on a sample by @jabools which used Mapsui.

### Reproduction steps

Go to Map from side menu
Go back to About
Go to Map again, and it will crash

In doing this the MySkiaView is added, removed and re-added to the UI tree. Not sure if this is a supporte

[2020-01-10 15:50] mattleibow commented on #793
I'll have a look. It may be that the view has been detached so there is no native view to ask.

[2020-01-10 15:52] mattleibow commented on #968
That's goo to hear. It is a combination of a few things, but it appears to have been fixed and merge a few days ago: https://github.com/xamarin/xamarin-macios/issues/7514

Right now, the fix is just a clean and rebuild. But, hopefully the next release makes all the things go away.

[2020-01-10 15:56] #793 closed

[2020-01-10 15:58] mattleibow commented on #793
I see @zbyszekpy got some good work done. I'll see if I can clean up what we have so far and get a release out sooner. And push what is left to a v1.68.3 or something.

[2020-01-10 16:03] mattleibow commented on #1092
Let's just leave it open for now. This will be the starting point for any docs hat need updating or anything along those lines.

[2020-01-10 16:08] mattleibow commented on #1094
As @Gillibald says, the text blobs are lower level that works with individual glyphs rather than characters as we know it.

[2020-01-10 16:08] #1094 closed

[2020-01-10 22:08] gregsn opened #1097 "[BUG] RasterImage has no Pixmap"
**Description**

In version 1.68.1.1 PeekPixels() returns `null` on raster-images.

**Code**

            using (var image = SKImage.FromEncodedData(path))
            using (var rasterImage = image.ToRasterImage())
            {
                Debug.Assert(rasterImage.PeekPixels() != null);
            }
**Expected Behavior**

`image.ToRasterImage()` should return a raster image.
` PeekPixels()`

[2020-01-13 18:29] MuziburRahman commented on #70
@mattleibow any update on GPU acceleration in UWP?

[2020-01-13 19:26] mattleibow commented on #70
It has been there for quite some time. Not sure exactly what you mean?

Right out the box, there is the `SKSwapChainPanel` that is GPU-only. There there is the `SKGLView` for Xamrin.Forms.

If you are talking the pure, non-UI way, then you have to first set up a GPU context - using ANGLE - and then do the `SKSurface.Create`.

[2020-01-13 20:53] neodynamic opened #1099 "How to creatae"
You can ask questions here, but there might be better places to do that as well:

 - If you have questions on how to use SkiaSharp with .NET, this is the best place.
 - If you have questions on how to draw a picture, but need some suggestions, there is the community to help:
    - StackOverflow: https://stackoverflow.com/questions/tagged/skiasharp
    - Xamarin Forums: https://forums.xamarin.com

[2020-01-13 20:53] #1099 closed

[2020-01-13 21:09] neodynamic opened #1100 "New SKTypeface from an existing one but with different style settings"
Using an old version of SkiaSharp v1.60 here... I want to create a new SKTypeface from an existing one but with a different Style. The code `SKTypeface.FromTypeface` worked just fine in Windows but sadly, it fails on macOS and Linux. Analyzing the new version of SkiaSharp, I see that method is now also obsolete. The only way I can see to create a new SKTypeface with a new style from an existing on

[2020-01-13 21:49] hafner commented on #1041
so I'm having the same problem in my personal project. I also downloaded vijayasuya20's project and it's still having the same error I'm having. I unzipped, opened and upgraded and still get the same error. What can I try next? If I knew we could solve multiple people's issue at once.

[2020-01-14 02:42] #1087 closed

[2020-01-14 02:59] mattleibow commented on #1100
Would the `SKFontManager.MatchTypeface` be what you are looking for:
https://docs.microsoft.com//dotnet/api/skiasharp.skfontmanager.matchtypeface

Usage:

[code]

[2020-01-14 06:28] vijayasurya20 commented on #1041
Hi @mattleibow ,

As @hafner said, I am also still facing the same error in my end.

Please let me know what should i need to do from my end to resolve this issue.

Regards,
Vijayasurya A

[2020-01-14 11:09] #1100 closed

[2020-01-14 12:13] JackPaul3413 opened #1102 "[BUG]"
**Description**

Skia sharp measures wrong Width value while measuring Arabic Text (RTL issues).

**Code**

namespace portable_console
{

    class Program
    {
        static void Main(string[] args)
        {
            string text = "Welcome to syncfusion software private limited";
            float fontsize = 12f;

            float SystemDrawing = GDIMeasureString(text, fontsize);

[2020-01-14 12:26] Gillibald commented on #1102
Simple answer it is not possible to solve without HarfBuzz

[2020-01-15 14:51] hafner commented on #1041
What I don't get is both projects seem to have all of the dlls copied to the output directory yet it still doesn't work.

[2020-01-16 09:12] danien opened #1104 "System.Drawing type errors with SkiaSharp.Views.Mac in F# Xamarin.Mac Modern project"
When I try to open the SkiaSharp.Views.Mac namespace in an F# project targeting Xamarin.Mac Modern, I get a bunch of errors for a few System.Drawing types:

[code]
including for Point, Size, SizeF, Rectangle, RectangleF.

This is with Visual Studio Mac 8.4.1 (build 4).

<img width="1440" alt="Screenshot 2020-01-16 at 12 22 38 PM" src="https://user-images.githubusercontent.com/2024912/72510043-acd9

[2020-01-16 12:19] AlexNosk opened #1105 "[BUG] SkTypeface cannot be created in Windows Docker container."
**Description**

SkTypeface cannot be created in Windows Docker container. It simply returns null. I use SkiaSharp 1.68.1.1 version and SkiaSharp.NativeAssets.NanoServer 1.68.1.1 version. .csproj file is modified as required

  <ItemGroup>
    <PackageReference Include="SkiaSharp" ExcludeAssets="native" Version="1.68.1.1" />
    <PackageReference Include="SkiaSharp.NativeAssets.NanoServer" Version

[2020-01-16 12:52] Gillibald commented on #1105
What yields https://docs.microsoft.com/en-us/dotnet/api/skiasharp.skfontmanager.fontfamilies?view=skiasharp-1.68.1#SkiaSharp_SKFontManager_FontFamilies for you? Does it contain any font family?

[2020-01-16 13:10] AlexNosk commented on #1105
@Gillibald
SKFontManager.Default.FontFamilyCount returns zero and SKFontManager.Default.FontFamilies is empty.

[2020-01-16 13:43] Gillibald commented on #1105
I guess the nano server build has no font manager implementation https://github.com/google/skia/blob/master/src/core/SkFontMgr.cpp

[2020-01-17 08:18] VladislavAntonyuk opened #1106 "[BUG] unable to use with Xamarin.Forms 4.2 and above"
https://github.com/xamarin/Xamarin.Forms/issues/9129

[2020-01-17 09:51] JackPaul3413 commented on #1102
@Gillibald ,

I tried to use HarfBuzz to measure the string, but i still get some variation in calculating the width of the arabic text comparing to GDI.

 SKImageInfo info = new SKImageInfo(120, 120);
            float skiaMeasurement = 0;
            using (SKSurface surface = SKSurface.Create(info))
            {
                SKCanvas canvas = surface.Canvas;
                canvas.Clear(SKC

[2020-01-17 10:07] Gillibald commented on #1102
Add your text to a buffer the use the overload that takes a buffer. Sum the XAdvances from the buffer after shaping.

[2020-01-17 10:32] JackPaul3413 commented on #1102
@Gillibald ,

As you said i have passed my text as buffer but the glyphPosition.XAdvance values are so high, if i have to sum them, that would be huge value, i am not sure is that a valid solution.

SKCanvas canvas = surface.Canvas;
                canvas.Clear(SKColors.White);
                using (SKPaint paint = new SKPaint())
                {
                    paint.Typeface = SKTypeface.F

[2020-01-17 10:37] Gillibald commented on #1102
`var scale = FontSize / 512` multiply all advances by that

[2020-01-17 10:40] Gillibald commented on #1102
You can also use `paint.MeasureText` and pass `shapedText.Codepoints` to it. Make sure to set TextEncoding to GlyphId. You can use the fixed statement to get an IntPtr for the Codepoints array.

[2020-01-17 11:47] JackPaul3413 commented on #1102
@Gillibald ,
scaling the value still gives me wrong values, i also tried by passing shapedText.codepoints to measureText but i did not find MeasureText() any overload for intptr array, but the codePoints are uint array, how can array be converted to intptr not as intptr[]. or do i missing something else?

[2020-01-17 11:55] Gillibald commented on #1102
[code]

[2020-01-17 12:30] JackPaul3413 commented on #1102
@Gillibald ,
 i am not sure i'm getting it properly, do you saying to pass the length as byte size of the string?
correct me if i am wrong.

[2020-01-17 12:42] Gillibald commented on #1102
Okay my bad `GlyphId` is two bytes.

`var glyphs = new ushort[shapedText.Codepoints.Length];`
then copy all values of shapedText.Codepoints into that array.

After that you can call paint.MeasureText with `var byteLength = glyphs.Length * 2`

[2020-01-17 19:30] Drise13 opened #1107 "Is there an “inset” alignment for a SkiaSharp stroke?"
When using GDI I was able to set the Pen::Alignment to Inset, which drew the stroke on the inside of the path. Does SkiaSharp have a similar concept? I've scoured all the SKPaint documentation and haven't found what I'm looking for.

[2020-01-17 22:16] pauldendulk opened #1108 "[BUG] Can not show UI elements on top of XF WPF SKGLView"
**Description**

When a class is derived from SKGLView UI elements on top of that element are not shown in XF WPF

**Code**

The custom SKGLView is created like this:

[code]

Put it in a page and put a button on top like this:
[code]

**Expected Behavior**

The button is visible as in XF UWP:
![image](https://user-images.githubusercontent.com/963462/72649654-8a77f000-397e-11ea-965f-346de09502a5.p

[2020-01-18 04:07] mattleibow commented on #1106
@VladislavAntonyuk Thanks for opening this issue. I'll update the preview ASAP.

[2020-01-18 22:04] Reon90 opened #1110 "Can I use C API directly?"
I ask, because I can't find function prototypes in libskia.so which are defined in include/c/*.h

[2020-01-18 22:23] mattleibow commented on #1110
You can, but the C APIs are not in libskia but in libSkiaSharp. libskia is an intermediate library file that is then linked with the C bits to create a smaller libSkiaSharp library.

Did you build the libskia from somewhere? Or are you just trying to use the one that comes with SkiaSharp?

[2020-01-18 22:43] Reon90 commented on #1110
I built one on my machine. I also try libSkiaSharp, but there are only few functions. A lot of functions are lost.

[2020-01-18 23:32] mattleibow commented on #1105
The facts. The Nano Server dll is actually working. It really is just the same as the Win32 dll, except that there is a single method that is a no-op for XPS type subsetting. That is the only difference. You can actually use the Nano Server dll on full Windows to test.

So, why is it not working? Well, guess what - the required dwrite.dll for DirectWrite is missing on Nano Server. This file `C:\Wi

[2020-01-19 00:50] Gillibald commented on #1105
Might GDI work?

[2020-01-19 04:42] #1106 closed

[2020-01-19 05:23] mattleibow commented on #1110
If you build the libskia, it just contains all the C++ members. The libSkiaSharp is specifically meant to link out all but the required pieces used by SkiaSharp. If you build skia using the build scripts in the SkiaSharp repo, you should be getting all the required bits. Did you build the bits from the mono fork of skia? What did you actually build?

[2020-01-19 08:07] Reon90 commented on #1110
@mattleibow I built libs from the mono fork of skia. Is it not ok?

[2020-01-19 21:38] pauldendulk commented on #1108
Here is a minimal reproducible example.
https://github.com/pauldendulk/ButtonDoesNotShow

[2020-01-20 07:28] JackPaul3413 commented on #1102
Hi @Gillibald ,

i have tried again with your previous proposed solution but still my result are wrong, this is my code changes
SKCanvas canvas = surface.Canvas;
                canvas.Clear(SKColors.White);
                using (SKPaint paint = new SKPaint())
                {
                    paint.Typeface = SKTypeface.FromFile(@"D:\font\traditional_arabic.ttf");
                    paint.C

[2020-01-20 08:25] JackPaul3413 commented on #1102
Hi @Gillibald ,

I tried as you said, but still my results are wrong, this are my code changes, please let me know why it doesn't work?

SKCanvas canvas = surface.Canvas;
                canvas.Clear(SKColors.White);
                using (SKPaint paint = new SKPaint())
                {
                    paint.Typeface = SKTypeface.FromFile(@"D:\font\traditional_arabic.ttf");

[2020-01-20 13:38] Reon90 commented on #1110
I have built SkiaSharp repo and got correct C API. thank you.

[2020-01-20 13:38] #1110 closed

[2020-01-20 15:17] juanp3053 opened #1111 "[QUESTION] SVG Export"
Hello,

I have been reading the documentation on SkiaSharp and I have seen a lot of information on how to read an SVG file and render it to the canvas but I haven't been able to find concrete information about saving/exporting a rendered image (or canvas) to an SVG file. Is this functionality supported or is there any plans to be supported in the future?

Thanks a lot for the help in advance,

[2020-01-20 15:23] mattleibow commented on #1111
Right now there is experimental support for this with `SKSvgCanvas`:
https://docs.microsoft.com/dotnet/api/skiasharp.sksvgcanvas.create

You can have a try with that and see if covers your needs.

[2020-01-20 15:50] mattleibow commented on #1107
Unfortunately, I do not believe there is.
You could ask on the actual engine forums and they may give more info as to why or any workarounds:
https://groups.google.com/forum/#!forum/skia-discuss

[2020-01-20 17:36] PedroRossa commented on #921
Hello folks,
@FaizanDurrani , please, how you put skiasharp to run on Android in Unity?
I spent a lot of time but just received different type of errors.

[2020-01-20 18:47] FaizanDurrani commented on #921
I think I just copied the `.so`s into `Assets/` and imported the `.dll` into `Plugins/Android`. I don't remember if I used my own build or the NuGet one. I'll push the skeleton of the project to Github sometime tomorrow so you can take a look at it.

[2020-01-20 19:17] bender2k14 commented on #1041
My experience is similar to @mattleibow's; his description below is also true for me.

In particular, instead of the test failing with a `TypeInitializationException` it now fails with a `FileLoadException`.

I poked around a bit further and figured the following out.  Maybe it is helpful.

I have a simple WPF application with a dependency on the latest prerelease of SkiaSharp (version 1.68.2 (Pre

[2020-01-20 19:30] juanp3053 commented on #1111
Thank you @mattleibow for the info. I believe it is exactly what I was looking for.

[2020-01-20 19:30] #1111 closed

[2020-01-20 21:28] mattleibow commented on #1041
Ah, very good catch. That is often the case. The main issue here is that I think the test is built as 32-bit and then run as 64-bit (or vice versa). Switching to a specific architecture usually fixes that as @bender2k14 found. But, I believe you can ALSO switch the CPU that the tests run in in VS to control the runner.

[2020-01-21 10:03] BigBadaboom commented on #1107
It's easy enough to reproduce the effect.  Stroke the path using double the desired stroke width, but mask it with a filled version of the path.

[2020-01-22 05:44] RamarajMarimuthu commented on #1105
Hi Guys,

We are also facing the same issue while creating a SkTypeface in Windows Nano Server with Docker. Could you please help me to resolve this.

**FYI** - “SKTypeface.Default” static property return a SkTypeface object with empty font name in Nano server, which is return "Segoe UI" font in windows.

Thanks in advance.

Thanks,
Ramaraj Marimuthu.

[2020-01-22 10:22] danien commented on #1104
Removing the mscorlib reference from the project fixes the errors. Documenting this here for future reference though I admittedly still do not fully understand the reason.

Similar error here (but no solution):
https://stackoverflow.com/questions/51789427/adding-mscorlib-dll-causing-errors

Another thread that talks about mscorlib providing only type forwarders for some types with the implementati

[2020-01-22 10:22] #1104 closed

[2020-01-22 15:28] mattleibow commented on #1107
Yeah @BigBadaboom is right. And they also said this on the other side: https://groups.google.com/forum/#!topic/skia-discuss/fE7qzKejMng

[2020-01-22 21:08] PedroRossa commented on #921
Can you send your project or some like that? Because we tried a lot and don't be able to use on Android (Oculus Quest to be more precisely)

[2020-01-22 23:15] mattleibow commented on #1105
@Gillibald sooooooo. I tried the GDI font manager, and that works locally. But, not on Nano Server. The entire usp10.dll is missing... I feel fear!

[2020-01-23 00:40] mattleibow commented on #1105
I will need to investigate this more as I have nothing at this point. What a bummer.

[2020-01-23 04:32] Gillibald commented on #1105
Probably time to invite Freetype to the party. Not sure how hard that would be to build for Windows. Freetype + DirectoryFontManager

[2020-01-23 05:09] weierstrass1 opened #1112 "[BUG] Weird error when i try to instantiate a SKBitmap"
**Description**

When i instantiate a SKBitmap send me this error:

System.TypeInitializationException: 'Se produjo una excepción en el inicializador de tipo de 'SkiaSharp.SKImageInfo'.'

BadImageFormatException: Se ha intentado cargar un programa con un formato incorrecto. (Excepción de HRESULT: 0x8007000B)

**Code**

![image](https://user-images.githubusercontent.com/5378163/72958143-fa261a80-3d

[2020-01-23 16:45] cghersi commented on #1071
Do you have a tentative date for when the ARM64 support will be available?

[2020-01-23 17:09] mattleibow commented on #1105
Yeah. Same results on Twitter and here: https://groups.google.com/forum/#!topic/skia-discuss/cfgRsNWcm6Q

The code is there and is used on linux/android, so hopefully only a small bit of work...

[2020-01-23 17:09] hafner commented on #1041
So my whole 4.7.2, ten project solution (including libraries and tests) were all targeting "Any CPU." After spending hours and hours on it what @bender2k14 said got me going, so thank you. I switched everything over to 32-bit. Although I need to research what the implications of doing this vs Any CPU are. Is an official fix coming?

[2020-01-23 17:14] FaizanDurrani commented on #921
https://github.com/FaizanDurrani/SkiaSharp-Unity-Test
I've made a repo with the setup of SkiaSharp that I used for Unity. It doesn't have any scripts or scenes but you should be able to get a general idea of how its set up.

[2020-01-23 18:03] Gillibald commented on #1105
I am still dreaming about a customizable font rendering backend for SkiaSharp so users can supply managed implementations for the font manager etc. That way we could use Freetype bindings etc. But that is just some dream 😀

[2020-01-23 18:30] mattleibow commented on #1071
I tried having a look at ARM64 for the current versions of skia, but there are several things that will need to change - the MSVC version, drop some older platforms, build ANGLE, etc. But, the version that is currently being targeted/merged does already have ARM64 support: https://github.com/mono/SkiaSharp/pull/986

I can't say exactly when this will get pushed out. I am hoping to get this out in

[2020-01-24 17:33] VladislavAntonyuk opened #1113 "[BUG] Tizen Xamarin.Forms.Init error"
[code]

latest nightly build XF
latest preview SkiaSharp

[2020-01-24 18:48] VladislavAntonyuk opened #1114 "[BUG] SkiaSharp.Views.Forms Nuget file error - invalid check for GTK project"
The SkiaSharp.Views.Forms.WPF package needs to be installed in addition to the SkiaSharp.Views.Forms package in order to support Xamarin.Forms with WPF.	Project.GTK

## Steps to reproduce
1. Create default net471 project
2.
[code]
3. Build application.

## Result
Build error

The issue is in SkiaSharp.Views.Forms.targets:
_RequiredWPFReferences is true.

[2020-01-25 23:33] Mikolaytis commented on #858
**Update**: on x86 OpenGL prefers to use shared GPU memory,
![image](https://user-images.githubusercontent.com/4997065/73128557-4ae67f00-3fe2-11ea-9ffd-8120a4f395a3.png)

but x64 OpenGL prefers to use just a process RAM, not shared GPU memory.

![image](https://user-images.githubusercontent.com/4997065/73128555-41f5ad80-3fe2-11ea-9fdc-97926569168a.png)

It can be:
1) a driver issue
2) an OpenGL is

[2020-01-25 23:44] #858 closed

[2020-01-28 08:52] JackPaul3413 commented on #1102
Hi,
Any updates to resolve my issue, it would be so much appreciable.

[2020-01-28 09:25] wieslawsoltes opened #1115 "[FEATURE] Add SKShader.CreateColor() with SKColor and SKColorSpace parameters"
**Is your feature request related to a problem? Please describe.**

I need to draw colors in `linear RGBA color space` using `SKShader`.

The  `SKShader.CreateColor` method only has color parameter. Skia has another method with additional parameter `color space`.
[code]
https://skia-doc.commondatastorage.googleapis.com/doxygen/doxygen/html/classSkShader.html#afd992112ce7187bf67c22a16fa337c33

**De

[2020-01-28 09:33] wieslawsoltes commented on #1115
Also gradient shaders take `SKColorSpace` as additional parameter. So adding those API's is also requested.

https://skia-doc.commondatastorage.googleapis.com/doxygen/doxygen/html/classSkGradientShader.html

[code]

[2020-01-28 09:34] Gillibald commented on #1102
What is the exact difference between those two measurements?

[2020-01-28 09:34] Gillibald commented on #1102
Pls compare the rendering of both and if you can attach a screenshot to this thread.

[2020-01-28 09:51] mattleibow commented on #1115
I can do that :)

[2020-01-28 09:51] wieslawsoltes commented on #1115
This API proposal comes from this article [Best Practices for Color Correct Skia](https://skia.org/user/sample/color?cl=9919).

[2020-01-28 11:00] JackPaul3413 commented on #762
Hi,

"Instead of replacing "Light" try replacing " Light". This might be a better solution." - this logic works for "Univers 45 Light" this type of font, but for font name of "FrutigerNext LT LightCn", if i remove
" Light" means i will have the font name of "FrutigerNext LT Cn" so this name is invalid, how to resolve this issue?
 it would be so much appreciable if someone could help.

[2020-01-28 22:07] mattleibow commented on #1114
I am not sure I understand this issue. I see that you say:

Yes. To use WPF, you need the WPF packages?

Now, if this is a WPF project that has GTK, then you _do_ need to install the GTK packages because the check is possible too dumb and just checks to see if `gdk-sharp` is referenced.

What you can also do is just tell the compiler to not check anything and set this in the .csproj:

[code]

[2020-01-28 22:32] mattleibow commented on #1113
Thanks for reporting this. It appears that Tizen has changed some things in Forms. I got a fix.

[2020-01-28 23:43] mattleibow commented on #1112
Ah, the `BadImageFormatException` typically means you are building for x64 and somehow got the x86 version of libSkliaSharp.dll. Or, vice versa.

Maybe try installing the SkiaSharp NuGet into the WPF app? This may be related to #1057 or #1041.

[2020-01-29 03:10] VladislavAntonyuk commented on #1114
I created a WinForms app, not WPF. I use new capris format, but set target platform to net471.
 I added all gtksharp reference (unfortunately I have to use full path to dll).
I have NetStandard library, which uses SkiaSharp Views Forms.
Then I added package references to XF and SkiaSharp Vies Forms GTK to the main app

As a result the app is not built

I will try <ShouldCheckPlatformPackages>False

[2020-01-29 05:57] JackPaul3413 commented on #1102
Hi @Gillibald ,

The text given as input is ""ہم آہنگی سافٹ ویئر میں خوش آمدید""
`font size = 12f;`
if i give the Text encoding as UTF16 and pass the text as string and calculate the width using `shapedText.Points[shapedText.Points.Length - 1].X` means i am getting results little similar to GDI
<img width="309" alt="Text result" src="https://user-images.githubusercontent.com/34718301/73331410-b00f

[2020-01-29 08:16] mattleibow commented on #1114
If that does not work, you can always attach a zip or repo and then I'll see what I can do. Maybe some logic needs to change.

[2020-01-29 12:16] gyorgygulyas opened #1118 "UWP ScrollViewer.TopHeader with SkiaSharp does not drawing"
I want to use the SkiaSharp Canvas in ScrollViewer, but not only in Main content, but in TopHeader and LeftHeader as well.  The paint events are called, the skia is drawing, but the result does not displayed on the screen, just in a main content.

here is the example:

    <ScrollViewer
		HorizontalScrollBarVisibility="Visible"
		HorizontalScrollMode="Enabled"
		VerticalScrollBarVisibility="Visibl

[2020-01-29 12:52] JackPaul3413 opened #1119 "How to create get Font family name from font name in a generic way to create TypeFace"
Hi,

I have a set of input font names, i need to create Typeface, but type face only takes font names not font family name, so i need to give the correct font family name other wise Skia sharp is returning default font.

**Input font names**
FrutigerNext Com UltraLight,
FrutigerNext Com UltraLightCn,
FrutigerNext LT Regular,
FrutigerNext LT Heavy,
FrutigerNext LT RegularCn,
FrutigerNext LT MediumC

[2020-01-29 14:30] Gillibald commented on #1119
One font-family `Frutiger Next` and different typefaces

[2020-01-29 19:33] mattleibow commented on #1113
So I just pushed a potential fix (#1117) to the preview feed: https://aka.ms/skiasharp-eap/index.json
The version is: 1.68.2-pr.1117.1

Let me know it that works - I can't test right now as I am having issues with the Tizen emulators, and my device got bust somehow. If it works, then we can merge. And, when 4.4 is more than a month old and people can update, then we can move permanently.

[2020-01-29 20:13] mattleibow commented on #1115
So PR #1116 adds all the cases where `SKColorF` is used - which just seems to be `SKShader` and the `Erase` method of `SKPixmap`.

[2020-01-29 20:20] wieslawsoltes commented on #1115
@mattleibow Great! I will try to test changes if that possible.

[2020-01-29 21:19] praeclarum opened #1121 "[BUG] Crashes in sk_canvas_restore_to_count on Mac 10.15"
Apps using `SKGLView` sporadically `abort()` when SkiaSharp calls `sk_canvas_restore_to_count` with this typical stack trace:

[code]

All crashes are here: https://gist.github.com/praeclarum/d5dbcda0782daa0ae81b494969b4d93f

**Code**

[code]

**Expected Behavior**

No crash

**Actual Behavior**

Crash after some period of time. It always crashes, but can take awhile.

**Basic Information**

- Ver

[2020-01-30 04:15] mattleibow commented on #1121
It seems to be crashing with a bad access. Do you have any info as to what was happening before the crash?

This looks like it might be that the canvas for some reason got cleaned up. Maybe you did a refresh. Maybe you have done some navigation or hidden/shown some views. Something might be living too long, and then it tries to run code on an old canvas.

[2020-01-30 17:21] VladislavAntonyuk commented on #1114
[code]
fixed the issue

[2020-01-30 17:21] #1114 closed

[2020-01-30 18:04] praeclarum commented on #1121
@mattleibow Unfortunately, it happens with 0 user interaction (maybe the GC is collecting something?). I can start the app, walk away, come back and it's crashed.

It's 100% repro though - it just takes 5 seconds to a few minutes depending on the phase of the moon.

[2020-01-31 00:18] praeclarum commented on #1121
@mattleibow I am getting a similar crash but with a different stack. This time it's `SkiaSharp.SkiaApi:sk_canvas_set_matrix` calling `gr_backendrendertarget_get_gl_framebufferinfo`.

[code]

[2020-01-31 06:24] VladislavAntonyuk commented on #1113
@mattleibow I still see the issue:
![image](https://user-images.githubusercontent.com/33021114/73517052-0eac8780-4403-11ea-8930-8be64487502f.png)

[2020-01-31 13:06] loketha commented on #1041
Hi @mattleibow

As per @bender2k14 suggestion, I checked the project with different configurations. But Still i am facing the same FileLoadException issue.

Please let me know what should i need to do from my end to resolve this issue.

Regards,
Loketha E

[2020-01-31 15:53] almirvuk commented on #331
Thank you guys! 🤗 @aloisdeniel @mattleibow @sayyildiz

[2020-02-01 10:54] mattleibow commented on #331
With the newer versions of SkiaSharp in the pipeline, this won't be needed anymore. Previously, skia supported loading index8 images but not any manipulations. With the later versions, loading index8 automatically gets converted to platform RGBA/BGRA.

[2020-02-01 10:59] mattleibow commented on #1113
Pity. I guess we are going to have to just use the latest forms. Not too bad I suppose.

[2020-02-01 11:20] mattleibow commented on #1041
Does anyone have a repro project of this? Also, remember that MSBuild may detect that it needs to copy a 32/64 bit assemblies, and then VS will run the other platform. There is a option in the test explorer setting to pick what CPU arch to use.

Also, it might be the case that you have selected the "prefer 32-bit" in the project options. So, even though the runner is selecting 64-bit, the runtime

[2020-02-01 12:37] VladislavAntonyuk commented on #1113
I would appreciate if you publish a potential fix before merging to the master, so I could give a fast feedback

[2020-02-01 18:34] mattleibow commented on #1113
Oh, will do. It is building as we speak!

[2020-02-01 18:58] #1115 closed

[2020-02-01 18:59] mattleibow commented on #1115
Just merged the things and I will get a release out ASAP.

[2020-02-01 19:15] Mikolaytis commented on #745
So, the fail of my code was to use Avalonia EGL libs. Today I've built angle myself and everything is working. Wow! https://github.com/Mikolaytis/WpfSkiaAngleSharpDxOpenTK - here is an example with updated libs.
Now I will try to integrate this thing into our project.

[2020-02-01 19:42] wieslawsoltes commented on #1115
That was quick. Thanks!

[2020-02-02 02:38] ryancheung commented on #692
https://github.com/ryancheung/SkiaTextRenderer
I just made it.

[2020-02-03 11:06] VijayRM commented on #1102
@Gillibald - Could you please provide update on this ? Whether it is possible to consider this issue as a defect of SkiaSharp?

[2020-02-03 14:52] Gillibald commented on #1102
This is what I get:
![2020-02-03 154303](https://user-images.githubusercontent.com/5928797/73663055-2737ce80-469d-11ea-860b-07e681b3511a.png)
![2020-02-03 154538](https://user-images.githubusercontent.com/5928797/73663067-2a32bf00-469d-11ea-841f-687c55bb9c04.png)

[2020-02-03 14:56] Gillibald commented on #1102
Please have a look at the docs: https://docs.microsoft.com/en-us/dotnet/api/system.drawing.graphics.measurestring?view=netframework-4.8

[2020-02-03 19:36] mattleibow commented on #745
@Mikolaytis Thanks for keeping this thread updated. I just haven't had the time to work on this. But, due to changes and things, I will be having to build the ANGLE libraries for UWP from source. And, since vcpkg will be doing the work, it seems to be super trivial to get a Win32 version out as well. As a result, I will be including the ANGLE bits in the main Views package.

With all this, I will

[2020-02-04 05:10] JackPaul3413 commented on #1102
Hi @Gillibald ,

The image you have attached is it the measurement of GDI or Skia sharp?

[2020-02-04 05:11] Gillibald commented on #1102
Thats Skia + HarfBuzz

[2020-02-04 05:29] JackPaul3413 commented on #1102
Hi @Gillibald ,

Even i to got around 180 points, but the GDI measurement is still arround 150 points, so i just need to know why even after using Harfbuzz with Skia sharp i am getting wrong results.

[2020-02-04 05:44] Gillibald commented on #1102
Compare the rendering

[2020-02-04 07:41] JackPaul3413 commented on #1102
Hi @Gillibald ,

i am not using skia sharp to render, i just need to measure the text, that's my requirement, i need to achieve exact measurement when compare to GDI using skia sharp, so my question is only this, even if i am ready to measure with Harfbuzz how can i achieve the desired result?

[2020-02-04 08:58] Gillibald commented on #1102
You can't expect two different technologies to produce the exact same results.

[2020-02-04 09:00] Gillibald commented on #1102
Use MeasureCharacterRanges and compare the results for each glyph. Maybe you find a magic number to fix the difference.

[2020-02-04 15:07] mattleibow commented on #399
I have been working on making the `SKMatrix` members actually useful in https://github.com/mono/SkiaSharp/pull/1123

Instead of having random static members that aren't particularly intuitive, I have added 3 instance members that are better:

[code]

[2020-02-04 17:00] #399 closed

[2020-02-04 20:43] mattleibow commented on #1091
I am having a look at this now, and I can't find any leaks. I tried a massive amount of instances (50M) and there was basically a 5mb increment. But that was the same for all number 1M, 10M, 50M. I also got that for `SKMemoryStream` and `SKData`.

.NET Core 3.1
[code]

.NET Framework 4.7.1:
[code]

[2020-02-04 21:50] dsoronda commented on #320
I just had issue where I needed to decode Webp image using SkiaSharp and convert it to Bmp format.
Since SkiaSharp Encode is not supported I used [BmpSharp ](https://github.com/dsoronda/bmp-sharp) as workaround. Maybe someone will find this useful (I almost created new issue for this.)

[code]

Disclaimer : I'm author of BmpSharp

[2020-02-04 23:22] bazilshep commented on #1091
I am able to reproduce your results with 1.68.1.1 (no leak) and have re-checked 1.68.0.0 and confirmed it does have the leak.

Using this repro code (updated to include version info):

[code]

Installed older broken version via the nuget package console:
``Install-Package SkiaSharp -Version 1.68.0.0``

[code]

Installed new working version via the nuget package console:
``Install-Package SkiaSharp

[2020-02-04 23:54] Mikolaytis opened #1124 "[FEATURE] BULK send render calls to canvas"
In my app, I do tons of calls to the `SKCanvas` to draw hundreds of thousands of elements. Getting some lags and fps drop. After some profiling, I've found that a lot of performance is consumed by p/invoke.

Maybe if there will be a bulk draw method that will take data array with function type and arguments we will be able to achieve a huge performance benefit.

Example:

[code]

What do you think

[2020-02-05 05:14] Gillibald commented on #1124
https://docs.microsoft.com/en-us/dotnet/api/SkiaSharp.SKPicture?view=skiasharp-1.68.1 is your friend

[2020-02-05 05:24] Gillibald commented on #1091
The old version had a leak with 'SKObject' due to a dictionary holding up to objects forever. This is no longer the case and therefore you don't have a leak anymore.

[2020-02-05 09:54] #1091 closed

[2020-02-05 13:59] #1088 closed

[2020-02-05 20:32] mattleibow commented on #1097
So, I had a look at this and this is sort of working as expected, kinda.

`SKImage.FromEncodedData` technically creates a raster image, but a "lazy" raster. You can check this using the `IsLazyGenerated` property. So, when you do `ToRasterImage`, you are actually just getting the same image.

Now, how do we do what you want to do? Basically, copy the image to a new image:

[code]

This _will work_

[2020-02-05 20:32] #1097 closed

[2020-02-05 20:51] mattleibow opened #1127 "[FEATURE] Look at integrating a higher quality resizing"
By default, SkiaSharp aims for the fastest resizing, not the best. There are quality levels, but it pretty much is a low, medium and high type of level.

There was a discussion on skia-discuss about this: https://groups.google.com/forum/#!topic/skia-discuss/2du6tuE3eds

Seems there is a nice library that can be used to actually allow for a better quality: https://github.com/avaneev/avir

Probably

[2020-02-06 05:03] JackPaul3413 commented on #1102
I am not asking for same results here, just approximate, but you can see there is huge difference in using it. Even if the technologies are different, the text measurement value is constant for the given length.
little bit of difference for measuring the same text is okay, but if skia sharp measure with so much difference, how could it be okay?
The use case of the Measure Text is to measure the ap

[2020-02-06 05:09] Gillibald commented on #1102
Because of that, you get different results. `MeasureCharacterRanges` isn't adding extra space and therefore should produce better results. That's why I suggested the different API.

[2020-02-06 06:49] Gillibald commented on #1102
![Measure](https://user-images.githubusercontent.com/5928797/73912541-077af300-48b5-11ea-86e5-1769277d984e.PNG)

GDI includes extra whitespace so you get a slightly different result. I will not spend more time on this issue.

Good luck

[2020-02-06 06:50] Gillibald commented on #1102
![harfbuzz](https://user-images.githubusercontent.com/5928797/73912644-54f76000-48b5-11ea-8a7c-6a4cae850407.PNG)

[2020-02-06 09:11] Ziriax opened #1128 "Please expose SkEncoder and derived classes"
In Skia, we can use the [`SkJpegEncoder`](https://cs.chromium.org/chromium/src/third_party/skia/include/encode/SkJpegEncoder.h) and other `SkEncoder` derived classes to tweak the options of the image encoders.

For example, we need to disable chroma subsampling when exporting high quality JPEGs.

However, these classes are not exposed in SkiaSharp.

Now it seems they are not exposed in the officia

[2020-02-06 12:43] Ziriax commented on #1128
Ouch, this is already exposed through https://docs.microsoft.com/en-us/dotnet/api/skiasharp.skjpegencoderoptions?view=skiasharp-1.68.1

Closing

[2020-02-06 12:43] #1128 closed

[2020-02-06 14:54] EngMaream commented on #272
why don't the Arabic letters appear ?
private void SKCanvasView_PaintSurface(object sender, SkiaSharp.Views.Forms.SKPaintSurfaceEventArgs args)
        {
            SKImageInfo info = args.Info;
            SKSurface surface = args.Surface;
            SKCanvas canvas = surface.Canvas;

            canvas.Clear();

            using (SKPaint textPaint = new SKPaint
            {
                S

[2020-02-06 15:35] mattleibow commented on #711
So things have changed, we have to use the new SKFont. But, I think we can keep the old API by doing what Google did here:

[code]

https://github.com/aosp-mirror/platform_frameworks_base/blob/master/libs/hwui/hwui/Paint.h#L148

[2020-02-06 15:38] mattleibow commented on #272
@EngMaream, have a look at this snippet: https://github.com/mono/SkiaSharp/issues/272#issuecomment-298000023

Most probably you have a font that does not have Arabic text characters - since you are not setting any typeface. But I would also have a look at this for drawing text: https://github.com/toptensoftware/RichTextKit

That will allow you to actually create all the text you want, and then dra

[2020-02-06 15:40] mattleibow commented on #1128
Have fun! Thanks for opening the issue and letting me know you are using this cool library!

[2020-02-06 15:41] Gillibald commented on #711
Do we have to live with that overhead or do you still add overloads that accept SKFont? The clean way would be getting rid of those font related members on SKPaint.

[2020-02-06 15:51] mattleibow commented on #711
I haven't decided just yet. If I keep SkFont hidden, then we are all happy. But, doing that may make future updates harder as we will have a bigger jump.

I was also thinking of converting SKPaint into a compat wrapper thing and exposing the current SkPaint as an SKBrush and the SkFont as an SKFont. So, at the end of the day, new code uses a SKBrush and SKFont, and existing code can use SKPaint -

[2020-02-06 15:56] mattleibow commented on #711
So, keep the C/C++ code as is, then I do this in C#:

[code]

[2020-02-06 16:01] Gillibald commented on #711
That approach would allow me to choose what ever fits my needs best. If I want a lightweight representation for font processing I can just use SKFont and if I just want things on the screen I can use SKPaint. Currently I only use SKPaint when it comes to draw something with a brush. Everything else is meaningless in terms of text processing.

[2020-02-06 17:19] Ziriax commented on #1128
Thanks! I'm actually evaluating SkiaSharp for a customer, a major player in the customized photo product printing business. We will be using SkiaSharp in the cloud (CPU rendering), using a linear colorspace rendering workflow (16-bit float per channel). So far so good!

[2020-02-06 17:49] EngMaream commented on #272
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'SKCanvas' does not contain a definition for 'DrawShapedText' and no accessible extension method 'DrawShapedText' accepting a first argument of type 'SKCanvas' could be found (are you missing a using directive or an assembly reference?)

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or

[2020-02-06 17:53] EngMaream commented on #272
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'SKCanvas' does not contain a definition for 'DrawShapedText' and no accessible extension method 'DrawShapedText' accepting a first argument of type 'SKCanvas' could be found (are you missing a using directive or an assembly reference?)

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or

[2020-02-06 17:55] EngMaream commented on #272
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'SKCanvas' does not contain a definition for 'DrawShapedText' and no accessible extension method 'DrawShapedText' accepting a first argument of type 'SKCanvas' could be found (are you missing a using directive or an assembly reference?)

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or

[2020-02-06 17:58] Gillibald commented on #272
You need to install `SkiaSharp.HarfBuzz` to be able to use `DrawShapedText`

[2020-02-06 18:00] EngMaream commented on #272
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'SKCanvas' does not contain a definition for 'DrawShapedText' and no accessible extension method 'DrawShapedText' accepting a first argument of type 'SKCanvas' could be found (are you missing a using directive or an assembly reference?)

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or

[2020-02-06 20:39] vtkachen111 opened #1129 "[BUG] iOS physical device crash with System.DllNotFoundException when using free Apple developer account"
**Description**
I am trying to instantiate the SkiaSharp.SKPictureRecorder() and I am getting the following DllNotFoundException:

![image](https://user-images.githubusercontent.com/60756502/73976984-4b362280-48de-11ea-8c0e-3b1f8027a290.png)

**Code**

![image](https://user-images.githubusercontent.com/60756502/73976664-a287c300-48dd-11ea-861b-5591f70b75ba.png)

**Expected Behavior**
Shouldn't cra

[2020-02-06 21:10] mattleibow commented on #1128
That's good to hear! Feel free to open any issues when you find you need a feature or find some problems. I am going to make the the BEST library for all things graphics!

[2020-02-06 23:03] lrolleman opened #1130 "[BUG] Xamarin.Forms Cannot encode SKImage as GIF"
**Description**

When attempting to encode an SKImage as a GIF, it returns a null SKData value

Setting SKEncodedImageFormat to Png works as expected

**Code**

SKImage.FromBitmap(bitmap).Encode(SKEncodedImageFormat.Gif, 100)

**Expected Behavior**

I should get back an SKData object that encapsulates a GIF encoded image

**Actual Behavior**

I get back a null value

**Basic Information**

- Versi

[2020-02-06 23:27] mattleibow commented on #1130
Ah, yeah. Unfortunately SkiaSharp only supports 3 formats (https://github.com/mono/SkiaSharp/issues/320#issuecomment-310805723):
 - jpeg
 - png
 - webp

This is a bit unfortunate, but you could always use a separate library to do this if you really need a gif. For example (I have not actually used) there is [NGif](https://github.com/avianbc/NGif) or [BumpKit](https://github.com/DataDink/Bumpkit) o

[2020-02-06 23:27] #1130 closed

[2020-02-07 00:05] mattleibow commented on #399
Work has been done, features been added, previews published. Check out the brand new preview (1.68.2-preview.29) that just left the gates! https://github.com/mono/SkiaSharp/releases/tag/v1.68.2-preview.29

[2020-02-07 00:05] mattleibow commented on #1115
Work has been done, features been added, previews published. Check out the brand new preview (1.68.2-preview.29) that just left the gates! https://github.com/mono/SkiaSharp/releases/tag/v1.68.2-preview.29

[2020-02-07 00:08] mattleibow commented on #1106
Work has been done, features been added, previews published. Check out the brand new preview (1.68.2-preview.29) that just left the gates! https://github.com/mono/SkiaSharp/releases/tag/v1.68.2-preview.29

This issue is fixed, but a similar one, #1113, is still being looked at. Xamarin.Forms 4.4+ seems to be having issues in UWP. As long as you aren't using the `SK*ImageSource` types on Tizen, thi

[2020-02-07 00:10] mattleibow commented on #1088
Work has been done, features been added, previews published. Check out the brand new preview (1.68.2-preview.29) that just left the gates! https://github.com/mono/SkiaSharp/releases/tag/v1.68.2-preview.29

[2020-02-07 00:11] mattleibow commented on #1113
Still having a look at this. The fix is easy, but UWP and CI aren't happy. Seems to be some issue with PDB files or something....

[2020-02-07 04:54] jclapis commented on #797
Thanks James! I just ran into this while trying to build SkiaSharp on a Raspberry Pi 4B (which is ARM64) and your patch worked great.

[2020-02-07 06:00] JackPaul3413 commented on #1119
Hi @Gillibald ,
I cannot use load by stream in my case, where i get input only as font name, using that i need to create a Type face, which should be generic for any kind of font, so how can i achieve it using SKTypeface.FromFamilyName() API, is there any better way to handle generic only using font name?

Regards,
Jackson Paul T

[2020-02-07 08:29] Gillibald commented on #1119
`SKTypeface.FromFamilyName()` uses the font manager to resolve fonts. So the moment you install your fonts on the system `FromFamilyName` should work

[2020-02-07 11:12] jensbrak commented on #920
I just found this and it explains why I get black surfaces when trying to have two SKGLControls. I tried two controls just out of curiosity (previously had one single control and did all painting from a single PaintSurface but thought it would be more logical to have two separate canvases and PaintSurfaces, one for each control).

One GRContext per thread - guess that means one SKGLControl per thr

[2020-02-07 12:14] blimkemann commented on #647
I am getting this error even in debug builds using 1.68.0 and above when targeting Android 10 as a build target. It happens every time and is repeatable. If I remove all calls to DrawText there is no crash. Even a single DrawText will cause a crash with a "Could not allocate vertices" message.

Is there any news on this?

[2020-02-07 13:25] Ziriax opened #1131 "Can't draw text using default typeface on Linux"
**Description**

Can't draw text using `SKTypeface.Default` under WSL (Debian) or Docker, .NET Core 3.1, host Windows 10 Pro x64 1903.

Packages used are `SkiaSharp` and `SkiaSharp.NativeAssets.Linux.NoDependencies`, 1.68.2-preview.29 or older versions.

Explicitly loading a typeface fixes the problem.

**Code**

[code]

**Expected Behavior**

The output should contain the text "foobar" on a skybl

[2020-02-07 13:51] Gillibald commented on #1131
`SkiaSharp.NativeAssets.Linux.NoDependencies` isn't supporting a font manager and therefore only fonts loaded by file or stream are working.

[2020-02-07 13:52] gyorgygulyas commented on #1118
Any Update?

[2020-02-07 14:12] Ziriax commented on #1131
Okay, got it. But it would be very useful if at least something is logged, or an exception is thrown?

[2020-02-07 15:07] Gillibald commented on #1131
It should probably called `SkiaSharp.NativeAssets.Linux.NoFontManager` or `SkiaSharp.NativeAssets.Linux.NoFontConfig`

[2020-02-07 15:31] Ziriax commented on #1131
I'm trying to get a better understanding. I'm a veteran Windows developer, so I might make newbie mistakes on Linux ;-)

- `SkiaSharp.NativeAssets.Linux.NoDependencies`: this comes with just a `libskia` native library, with all libraries (libpng etc) linked in statically, without `FontConfig`? It can run on a system that hasn't any of the dependencies installed. Will it pickup `FontConfig` when it

[2020-02-07 15:40] Gillibald commented on #1131
`SkiaSharp.NativeAssets.Linux` dynamically links fontconfig and `SkiaSharp.NativeAssets.Linux.NoDependencies` is built without any dependency on fontconfig and therefore has no font manager. It is just left out.

[2020-02-07 15:40] mattleibow commented on #1131
Text _should_ work, because it has the "custom" font manager which loads fonts from the default directory:

`/usr/share/fonts/`

[2020-02-07 15:42] mattleibow commented on #1131
This _should_ be included: https://github.com/google/skia/blob/chrome/m68/BUILD.gn#L395-L409

But, do you have any fonts installed? Are there any available in WSL?

[2020-02-07 15:42] Gillibald commented on #1131
Okay so it has a font manager but has no default set. So we should try to set one. Probably just look for a common one.

[2020-02-07 15:42] mattleibow commented on #1131
Ah, yeah. Or the first one.

[2020-02-07 18:00] Gillibald commented on #1131
https://github.com/google/skia/blob/master/src/ports/SkFontMgr_custom.cpp#L153

[2020-02-07 20:22] mattleibow commented on #1118
Ah, sorry for the delay. I am actually looking at this now.

[2020-02-07 20:23] mattleibow commented on #1131
Although there is this line that _should_ pick one: https://github.com/google/skia/blob/master/src/ports/SkFontMgr_custom.cpp#L173

_Just trying to get me Docker and/or WSL working again..._

[2020-02-07 20:56] lrolleman commented on #1130
Sadly, all of those libraries rely on the Windows (System.Drawing/GDI) which just throws PlatformNotSupportedException on Xamarin.

However, drawing inspiration from NGif (and the original Java version) and replacing all the System.Drawing components with their equivalent SkiaSharp components (Image->SKImage, Color->SKColor etc.) it just... works. Almost anti-climactic after bashing my head for a

[2020-02-07 22:16] mattleibow commented on #1131
So I just tested on the `mcr.microsoft.com/dotnet/core/runtime:3.1-buster-slim` Docker image, there are no fonts at all.

So how do we do this? You probably just want to copy your font files to the `/usr/share/fonts/` directory.

This should fix it for you:

[code]

[2020-02-07 22:26] mattleibow commented on #1130
Ooh, yeah. Do you have the code somewhere? Maybe I can take a look and see if you are maybe copying things too many times. I was actually going to have a look at this, but since you got code already, maybe we can make this an actual thing? A SkiaSharp.NGif or a NGif.SkiaSharp. People will love it. And they can now play it in Xamarin.Forms 😉

[2020-02-07 22:45] Ziriax commented on #1131
Amazing how quickly you guys got on top of this, thanks for all the info!

Interestingly, all the default fonts are copyrighted and require licensing, unless these expired, not sure...

Would be nice to include Roboto or some other free Google font as the default...

Because picking the first font would result in a different default one if others are added, that would be strange from a user's poin

[2020-02-07 23:10] Gillibald commented on #1131
Returning nullptr for not found typefaces is by design. Not having any font is totally unexpected. But I think for the default we could throw an exception because that means something is wrong with the font manager.

Too bad the font manager is defined at compile time. If we could somehow have a proxy font manager we could make this pluggable. So if one font manager implementation breaks we could

[2020-02-08 03:02] Mikolaytis commented on #1124
Thanks a lot! That's what I need!

[2020-02-08 03:02] #1124 closed

[2020-02-08 10:43] martinjevans commented on #1129
I am getting the same kind of `DllNotFoundException` when using `FFImageLoading` and a `SvgCachedImage` view:
[code]

- Version: 1.68.1.1
- IDE: Visual Studio Community 2019
- Target device: iPhone 5

[2020-02-08 12:03] VitezslavImrysek commented on #1129
This issue is caused by a bug (or intention) in iOS 13.3.1 and seems to only manifest with free developer accounts. There are more projects having the same issue, like Flutter: https://github.com/flutter/flutter/issues/49504

[2020-02-08 18:35] mattleibow commented on #1131
Yeah. Did you open an issue for that at all? I think you asked for this in the past. The font manager is a bit of work as there are a few overrides, but then there are all the supporting classes - such as the custom style set and custom typeface types. And then there is the big font host. This is either the FreeType (linux), DirectWrite (windows), CoreText (mac) and the deprecated GDI. Right now,

[2020-02-08 18:38] mattleibow commented on #1131
I am closing this issue as I believe the original issue is solved, it just needed some fonts, any fonts.

[2020-02-08 18:38] #1131 closed

[2020-02-08 18:41] mattleibow commented on #797
Ah, thanks! I believe this may be fixed with the new work in the #986 PR. A lot of the opts bits have been improved. Thanks for the patch for now. I hope to have a new m81 master soon.

[2020-02-08 18:44] mattleibow commented on #1129
Ah, let me send this over to the iOS team. Maybe there is something they know.

[2020-02-08 20:30] dr-vij opened #1132 "[QUESTION] SkiaSharp wasm support"
Is it real to build SkiaSharp to use it in wasm? We tried to use SKIA inside Unity3d: ios, android and PC were ok, but I dont know is it real to add support for wasm?

[2020-02-08 20:36] mattleibow commented on #1118
So, just found out WHAT was happening. For some reason, it is calculating the size of the canvas for the headers, but not drawing... If you use Hot Reload and change the size, then it magically starts drawing...

Thanks for bringing this up. I'll get it fixed.

[2020-02-08 21:41] mattleibow commented on #1118
So, I think I figured out what is causing this issue. It appears that the same canvas is being loaded twice, and then unloaded once. The unload causes the canvas to clear itself and unset properties to free memory. But, since it is never re-loaded (because it was already loaded), the canvas never actually realizes that it needs to hook things up again.

Looking to see if it is my fault with the do

[2020-02-08 21:44] mattleibow commented on #1118
Just found this: https://github.com/microsoft/microsoft-ui-xaml/issues/1367

[2020-02-08 21:58] mattleibow commented on #1132
We are looking at this right now.

The main issue is that we need to update to the latest skia - which we are doing: #986

We hope to have a build out in the near future which will support WASM.

[2020-02-09 07:02] MhAllan opened #1134 "[QUESTION] How to create content views and layouts?"
I can't find anything online about this. How to add a canvas on another canvas? so one will be the control and the other will be the layout. Also how can I draw a Xamarin View on a canvas?

[2020-02-09 18:07] mattleibow commented on #1134
You could use a Grid or AbsoluteLayout.

[code]

[2020-02-09 18:07] #1118 closed

[2020-02-09 20:15] mattleibow commented on #1074
@nor0x, I am having a look at this now, and was the canvas views updating when you called `InvalidateSurface` from inside the `Paint` event?

I am looking at the event code, and it appears that any `InvalidateSurface` from inside the `Paint` is ignored. The call to invalidate checks to see if there is a draw in progress and just bails out.

[2020-02-09 22:58] mattleibow commented on #647
@apaatsio, I had a look at that issue on the Google bug list, no feedback at all. The only comment a long while back was:

@blimkemann could you create a test/repo project for your example. It was working when I reduced the optimization level a while back. Maybe this is a slightly different case that I can start testing on.

[2020-02-10 09:48] Xyotic opened #1136 "[BUG] Antialias not working"
**Description**

Antialias for SKPaint does not work since SkiaSharp Version 1.68.1 and up
Works as expected with SkiaSharp Version 1.68.0

**Code**
[code]

**Expected Behavior**
Antialias is applied to SKPaint

**Actual Behavior**
IsAntialias has no effect

**Basic Information**

- Version with issue:  1.68.1 and 1.68.1.1
- Last known good version:  1.68.0
- IDE:  Visual Studio 2019 v16.4.3

- Pl

[2020-02-10 11:00] mattleibow commented on #1136
Could you submit a mini repro? I haven't seen this.

Also, is this by any chance a GL view? I know we had an issue with those using a too-high sample count and then SkiaSharp just bailed and did nothing. That was fixed, and is in the latest 1.68.2 previews. Maybe give those a go and see if that fixes things.

[2020-02-10 11:12] Xyotic commented on #1136
You are right. I'm using a GL View and it  seems to be fixed in 1.68.2-preview.29

[2020-02-10 11:18] MhAllan commented on #1134
Thank @mattleibow, I was hoping it is possible wihtout using XF.

[2020-02-10 11:18] #1134 closed

[2020-02-10 12:37] blimkemann commented on #647
[SkiaTextBug.zip](https://github.com/mono/SkiaSharp/files/4180786/SkiaTextBug.zip)
@mattleibow, here is a repro. Pretty simple really. Just start in debugger on Android and the drawing will crash as soon as Canvas.Flush is called. Please let me know if you have questions about this.

[2020-02-10 20:36] mattleibow commented on #1129
Hi @vtkachen111, is it possible to attach some sort of repro project? Also, let us know if you are using a free/paid Apple developer account (@VitezslavImrysek mentions that it may be related)

Here are some guides for submitting an issue, which just guides you on how best to attach a repro/zip: https://github.com/mono/SkiaSharp/wiki/Submitting-Issues

Also, let us know what versions of Visual Stu

[2020-02-10 20:37] mattleibow commented on #1134
@MhAllan, what platform are you targeting? We have views for all platforms - I just assumed you were using Forms. But, this is pretty much the same for all platforms, just put the views above or below the canvas.

[2020-02-10 20:41] mattleibow commented on #1136
@Xyotic, awesome!

Let me link those things for me later on in life... #1098 #1060 #1087  #1053 #1086

[2020-02-10 20:41] #1136 closed

[2020-02-10 21:11] mattleibow commented on #647
Thanks! I'll have a look.

[2020-02-10 21:35] vtkachen111 commented on #1129
Hi @mattleibow. I am using a free Apple developer account, so that is probably why I am running into this issue.
I am using VS 2019
Xamarin 4.4.0.991640

I don't think attaching the project is necessary, All you need is to call any of the skiasharp constructors/methods from anywhere. Quite simple to reproduce.

[2020-02-10 21:36] musictopia2 opened #1137 "Access Violation sometimes when trying to draw rectangles"
**Description**
When using skiasharp to draw rectangles, it gives access violation error.
This happens when I do from wpf and I use the SkElement and the first time it triggers the PaintSurface Event.

**Code**

on wpf is this

        private void PaintSurface(object? sender, SKPaintSurfaceEventArgs e)
        {
            Execute.OnUIThread(() =>
            {
                e.Surface.Canvas.C

[2020-02-10 21:41] lrolleman commented on #1130
I don't have public code, though it would be very simple to do. The only part of the System.Drawing to SkiaSharp port that wasn't basic 1 to 1 was in GetImagePixels

https://github.com/avianbc/NGif/blob/master/Components/AnimatedGifEncoder.cs
Where I replaced
[code]
with
[code]

Fairly naive/simplistic, but works as proof of concept

[2020-02-10 21:50] mattleibow commented on #1137
Is the `Execute.OnUIThread` blocking? If not (which is likely) the canvas will actually be disposed and you are now trying to access something that is gone from memory.

On this note, why are you using the `Execute.OnUIThread` method? The paint callback should already be on the UI thread. You shouldn't need to use any additional logic to move it.

[2020-02-10 21:57] mattleibow commented on #1130
Hmm. Looks good. The `new SKBitmap` is creating some memory, and then `SKImage.FromBitmap` is copying it. The `canvas.DrawImage` is also doing a copy. Is there a reason why you can't just draw the image directly?

Or, Instead of using a `SKBitmap` and then `SKImage`, just use a `SKSurface` or `SKBitmap`. In the case of GDI, the `Image` is a base type for `Bitmap`, so there is no copying going on.

[2020-02-10 21:57] musictopia2 commented on #1137
I actually tried the same code on the 16.8.0 and the problem did not happen.  I did the OnUIThread to try to fix the problem.  Because when the problem first occured, I tried several things and same issue.  I finally decided to try on an older version of skiasharp and the problem did not happen.

[2020-02-10 22:01] lrolleman commented on #1130
That does make sense, I'll certainly do some experiments along those lines (I haven't spent much more time on it once I was convinced it was in fact possible to do)

Cheers

[2020-02-10 22:10] VitezslavImrysek commented on #1129
I didn't write this in my original comment, but I am also experiencing this issue with free developer account. And just like @vtkachen111 wrote, it is very simple to reproduce.

[2020-02-11 01:48] mattleibow commented on #1137
Are you able to attach a full stack trace?
Are you using WPF with .NET Framework or .NET Core?

Does the issue still happen with 1.68.0 without the `Execute.OnUIThread`?

[2020-02-11 01:50] mattleibow commented on #1129
There may be something with the target version of iOS... What is the version of Xamarin you are using? And, what is the target device iOS version?

Just trying to see if there is some correlation as this does appear very weird. There should be nothing limiting things with a free account...

[2020-02-11 02:38] musictopia2 commented on #1137
How do I attach a full stack trace?  I am using WPF with .net core.  I tried without the OnUIThread and the problem did not reoccur with 1.68.0.
It would not even let me to do a try catch to try the drawings again with 1.68.1.1
Even with 1.68.0 I was using .WPF with .net core.  I used <PackageReference Include="SkiaSharp" Version="1.68.0" />
    <PackageReference Include="SkiaSharp.Views" Version=

[2020-02-11 02:46] musictopia2 commented on #1137
I tried to run it again after changing over to the new version and here is what i was able to copy.
System.AccessViolationException
  HResult=0x80004003
  Message=Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
  Source=<Cannot evaluate the exception source>
  StackTrace:
<Cannot evaluate the exception stack trace>

[2020-02-11 02:48] musictopia2 commented on #1137
I checked the stack trace and it showed it as null.  I did a screenshot but could not figure out how to send the screenshot.  The problem would not happen every time but once in a while.

[2020-02-11 07:39] nor0x commented on #1074
@mattleibow thanks for investigating this issue. In my case the canvas was not updating - it seemed frozen until the overflow occured

[2020-02-11 10:55] Ziriax commented on #1127
I already made a .net standard wrapper, for it, and added some high speed 8-bit gamma correction code, would it be useful if I published this?

[2020-02-11 10:55] mattleibow commented on #1137
You can just copy-paste the screenshot into the comments box. Or even drag the image into the comments. GitHub should just put the image in line.

[2020-02-11 11:13] mattleibow commented on #1127
Oh, yes! SkiaSharp is very much a library to create graphics to display on screen. One of the main "limitations" (or rather just a non-requirement) is that the saving to disk is pretty much PNG and JPEG. So this would be VERY useful.

[2020-02-11 11:30] Ziriax commented on #1127
Okay, I'll publish it on github then. It is rough around the edges, not yet ready to publish on nuget, but I did get it working on both Windows and Linux, so a good start.

I would love to tweak this library, supporting 16-bit floats to improve memory bandwidth, using ISPC to target any SIMD ISA, using the write combine buffer to avoid cache population, etc, but I'm not sure if I can find the time

[2020-02-11 13:23] musictopia2 commented on #1137
![skiasharperror](https://user-images.githubusercontent.com/39104606/74240338-01ab5600-4c97-11ea-94bc-c2674a28e228.png)

[2020-02-11 13:24] musictopia2 commented on #1137
Thanks for letting me know.  I tried that and worked.  Here is the full screenshot now.  You can see the stack trace actually showed null.

[2020-02-11 15:32] mattleibow commented on #1093
So, I had a look at this and I believe I have figured out what is happening.

You might be confusing C# characters with Unicode glyphs. For example, this is a single glyph `􏰀`, but in actual fact, it is made up of **2** C# characters: `0xdbff` and `0xdc00`. Both of these characters are actually not real characters, but parts of a [surrogate pair](https://unicodebook.readthedocs.io/unicode_encoding

[2020-02-11 15:56] #1074 closed

[2020-02-11 17:01] vtkachen111 commented on #1129
@mattleibow I tried different target versions all yield the same result. Xamarin version is Xamarin 4.4.0.991640.

So I got my hands on an older iphone for testing purposes, it's an iphone 6 with ios 12.4.5 (can't be updated further) and it works flawlessly. So it does seem like an ios 13.3 issue.
My app worked fine before I updated the ipad to 13.3

[2020-02-11 17:41] VitezslavImrysek commented on #1129
Today I restored my iPad Pro from 13.3.1 to 13.3.0 and everything works just fine while my iPhone XS on 13.3.1 continues to show this issue.
All testing is done on the latest release versions of Visual Studio (16.4.4) and Visual Studio for Mac (8.4.4 + Mono 6.6.0.155, Xamarin.iOS 13.10.0.17).
Changing application iOS target version to 12.2, 13.2 has no effect.

[2020-02-11 17:56] mscherotter opened #1139 "[FEATURE] Adding metadata properties to JPEG images when using SKPixmap.Encode()"
**Is your feature request related to a problem? Please describe.**
JPEG images and other image file types can have additional metadata properties that can enhance how the picture is interpreted by renderers.  An example is the
"/xmp/{wstr=http://ns.google.com/photos/1.0/panorama/}:ProjectionType" = "equirectangular" property which identifies an image as a 360 panoramic projection image.
You can ea

[2020-02-11 18:33] mattleibow commented on #920
I was looking at the general OpenGL world, and it does seem to be a thing to call "make current" before rendering - even if there is multiple views and a single thread. I did some tests (thanks to the attached code) and this seems to fix it.

I am going to go with this a fix unless there is some serious downside. But, I think the alternative is only a single GL view per thread, which is more of a

[2020-02-11 19:31] wieslawsoltes commented on #1115
Now I need to figure out how to do `Color Correct Skia`, I am experimenting with `1.68.2-preview.29` but getting correct `SKColorSpace` to work and achieving  `Color Correct Skia` is not yet straightforward.

https://skia.org/user/sample/color?cl=9919

[2020-02-11 19:38] AlexandreLaborde commented on #920
@mattleibow Sorry for being away from this thread for such a long time and forgetting to reply to the message you sent in November. Is there still something I can help with ?

[2020-02-11 22:48] iainxt commented on #836
It took my brain awhile to catch up on it, so to save others time here is the code I am using. I have tested this on all origins and it works.

        public Stream FixImageOrientation(Stream stream, out int width, out int height)
        {
            try { stream.Position = 0; } catch (NotSupportedException) { }
            using (var inputStream = new SKManagedStream(stream))
            {

[2020-02-11 23:42] #920 closed

[2020-02-11 23:48] mattleibow commented on #920
@AlexandreLaborde I think you gave enough information, so all is good. I got what I think is a fix just merged in. I'll try get a preview out soon so you can test it. I basically just do what you did and call `MakeCurrent` as this is the correct (as far as I can see) way to handle multiple drawing surfaces on a single thread.

Thanks for the issue and continuing info over several months. SkiaSharp

[2020-02-12 00:03] mattleibow commented on #836
@iainxt thanks for that. I'm thinking there might be a cause to have a property/method somewhere that could at least create a matrix for this so that you can draw an image using the matrix. And then have some member that does this auto-rotate.

Definitely something to have, thanks for the work.

[2020-02-12 07:15] RamarajMarimuthu commented on #1105
Hi Guys,

Any update on this. We are eagerly waiting for the solution.

Thanks in advance.

Thanks,
Ramaraj Marimuthu.

[2020-02-12 07:37] mattleibow commented on #1137
Very interesting. Especially without the stack trace.

Are you able to create a minimal repro at all? I will help to get started.

[2020-02-12 07:38] Gillibald commented on #1105
We can't build Skia in combination with Freetype for the `m68` release of `Skia`. The next major release of SkiaSharp will support this. We just need an extra build target for `windows-externals-freetype` or something. This will support rendering with `Freetype` but you have to use a dictionary font manager.
@mattleibow https://github.com/google/skia/blob/master/BUILD.gn#L274

[2020-02-12 07:41] mattleibow commented on #1105
@RamarajMarimuthu unfortunately no good feedback. But, if you are not using any windows specific features, you might try the Linux containers.

The plus side to Linux is that they are smaller and can run side by side with the windows containers.

Not the greatest answer, but we are still working on this.

[2020-02-12 08:04] solabc16 commented on #797
Thanks for the feedback Joe. Matthew, let me know when you have the new master, happy to test.

For anybody else reading, this patch is still good for releases up to and including 1.68.1.1.

[2020-02-12 08:06] AlexNosk commented on #453
https://www.nuget.org/packages/Goelze.SkiaSharp.NativeAssets.AlpineLinux/ does not work with the latest version of SkiaSharp. Can AlpineLinux native assets become "official" and be published with each new version of SkiaSharp, like SkiaSharp.NativeAssets.Linux?

[2020-02-12 08:41] mattleibow commented on #453
We could have a look at that now. I recently changed things so that the Linux native bits actually all build on Docker.

I hope I did it right to get alternate distros super easy. It should just be a docker file link this
https://github.com/mono/SkiaSharp/blob/master/scripts/Docker/ubuntu16/amd64/Dockerfile

And then add a chunk to the yaml
https://github.com/mono/SkiaSharp/blob/master/scripts/azu

[2020-02-12 09:30] Gillibald commented on #453
We could add a `linux-musl-x64` target that way nothing gets in conflict with the regular builds.

[2020-02-12 10:09] Ziriax commented on #1127
Okay, I got approval, I will publish the wrapper asap.

[2020-02-12 10:12] mattleibow commented on #1127
Once you get it out there, the community will help. I'll share links to it as well, because this is actually a pretty common request.

[2020-02-12 10:15] mattleibow commented on #453
Oh, yeah. I'd like to add the core platforms that .NET Core supports to the main NuGet. Right now I just have `linux-x64`, so we can totally add things link Apline/musl. I just haven't gotten around to actually creating the Dockerfiles. But, I do see we have some links in this thread so far.

[2020-02-12 10:36] mattleibow commented on #1121
That is very weird... the `sk_canvas_set_matrix` is the C API, which will call into C++ and not ever need to call back out to the C layer. In fact the C++ API knows nothing of the C API. The `gr_backendrendertarget_get_gl_framebufferinfo`. Are you calling `GetGlFramebufferInfo` at all in your code? For those two to be together is weird enough for me to think that maybe there is something wrong wit

[2020-02-12 14:12] EraYaN commented on #453
For ARM it's a bit in flux right now, my old attempt https://github.com/EraYaN/EraYaN.SkiaSharp.NativeAssets.LinuxArm still works (and we use/ship it successfully for some time now with Jellyfin) but docker is doing some funky stuff right now to make it easier, although it has not fully landed yet (ie. you need qemu to do a lot of things or just plain cross compile and then create a new docker ima

[2020-02-12 15:11] musictopia2 commented on #1137
I need help with creating a minimum repro.
When the problem happens, the strange thing is it does not happen every time.  Sometimes I can hit new game several times and no problems.  Other times, it happens after 5 times.  When I use the 1.68.0, the problem never happens.  Do you think we can do a visual studio share.  I do know that option is available where you see my code on my machine.

[2020-02-12 15:45] musictopia2 commented on #1137
One question.  If you mean to create a repository of the solution I was working on, I can do that.  What I would do is to copy/paste and make sure they are all the same folder and that would be the repository.  If that would be helpful, I can do that then.  What would happen is I would create it where you can always hit next game.  You will see that sometimes, the issue would happen.  But does not

[2020-02-12 19:21] praeclarum commented on #1121
Yes, `gr_backendrendertarget_get_gl_framebufferinfo` seems to be the culprit.

No I'm just using your view. I often have 2 to 3 of them on screen at a time though. You may notice it called "MyGLView" but that's just because I copied and pasted your code in to get a better stack trace. It crashes whether I use the nuget version or my copy pasted version.

Since the other Skia bugs, I've been carefu

[2020-02-12 20:29] praeclarum commented on #1121
@mattleibow I did it! I made a minimal repro! :-D

Steps:
1. Run the attached project under the debugger.
2. Create a few more windows with Cmd+N
3. Drink some coffee, read Twitter
4. Observe crash

In the following screenshot, it crashed after 1500 frames, or about 25 seconds. I put a GC.Collect thread in it just to speed things up. I'm guessing a finalizer is doing something naughty.

I should a

[2020-02-12 21:40] mattleibow commented on #1121
Yes! Thanks for this! I'll have a look and see what is breaking.

[2020-02-12 21:44] TiredHobgoblin opened #1142 "[QUESTION] Retain color in images with alpha of 0"
I am using an SKSurface to plate several textures into a single image. These textures contain encoded non-color data in their alpha channel, which needs to be preserved in the plated image. However, when I create a snapshot of the surface and export it to a .png file, all areas with an alpha of 0 have their color values set to (0,0,0). Is it possible to prevent this from happening?

Color channels

[2020-02-13 00:31] mattleibow commented on #978
I think I finally found out what was happening. The reason this only happens in the list view is because of virtualization. Sometimes the view is no longer part of the hierarchy, so getting the scale and position in said hierarchy is impossible. I have a fix to make sure we are still valid.

[2020-02-13 02:10] MhAllan commented on #1134
I was thinking of the possibility to ditch Xamarin Forms as their bugs backlog is growing over the years than shrinking. So I thought why can't we make Skia Ui. But there are things we can't make, like an entry, so I need to be able to host entry inside my Skia content/layout views. I was just wondering nothing serious.

[2020-02-13 08:52] miszu opened #1144 "[BUG] iOS app freezes randomly due to native crashes"
**Description**

We're using skia quite extensively in our app - many views, some of them being redrawn often (with constant FPS). Recently we've been observing random freezes on views containing skia components, we think problems began after updating from 1.68 to 1.68.1.1 (it's being validated at the moment, so far problems can't be reproduced with 1.68).

When freeze happens, we observe native c

[2020-02-13 10:40] smillershout opened #1145 "EncodedOrigin reporting incorrect value"
**Description**

As a result of all pictures captured on iPhone being in the camera's natural landscape orientation, I'm attempting to rotate these images in order to correct the appearence of non-landscape images. In order to do this, I'm evaluating the EncodedOrigin property on an instance of SKCodec which is associated with the image. Based on the result of the EncodedOrigin, for example, if th

[2020-02-13 11:30] mattleibow commented on #1145
iOS 13.3.1 has been interesting recently. I think it may be that the camera is leaving things out. Can you take a photo and check to see where the origin is on a laptop? Maybe in photoshop or similar?

[2020-02-13 11:35] mattleibow commented on #1134
You could try and see what comet is doing. They are actually looking at this https://github.com/Clancey/Comet

But just to let you know, the number of issues on repos is also not an indication of stagnation but just the number of issues op. I know that team is closing/fixing large numbers of issues and adding new features rapidly. They also just got support for new form factors like the dual scree

[2020-02-13 11:39] mattleibow commented on #1144
There's that `gr_backendrendertarget_get_gl_framebufferinfo` again... This might be related to either some iOS 13.3.1 issues or #1121

[2020-02-13 12:25] #978 closed

[2020-02-13 12:36] mattleibow commented on #1129
Thanks to twitter, I found this: https://github.com/flutter/flutter/issues/49504#issuecomment-581554697

[2020-02-13 14:08] MhAllan commented on #1134
Yes the number of issues is not an indicator, but the issues themselves are disappointing. I reported more than 5 issues in 2 weeks in 2020 they are supposed to be solved at the early days of the framework (for example button turn gray when hover on it!! How come this is an issue in 2020?). Thanks for the link of Comet I will definitely check it out.

[2020-02-13 14:52] miszu commented on #1144
After whole day of testing, we haven't seen these freezes/crashes on 1.68, so we'll use that for the time being. Is there anything I could provide to help with this issue? Some way to produce more logs?

[2020-02-13 15:00] mattleibow commented on #1144
Not sure at this moment.

I'm looking at the stack trace and it is going from the `wrapper_managed_to_native_SkiaSharp_SkiaApi_sk_canvas_draw_circle_intptr_single_single_single_intptr` to the `gr_backendrendertarget_get_gl_framebufferinfo`

That is impossible. I am thinking that for some reason something is off because the P/Invoke is calling the wrong native method? Makes no sense. This has been

[2020-02-13 15:23] mattleibow commented on #1121
Just haven't got to this yet. Trying to figure another iOS issue. But, people have been saying that the previous 1.68.0 version is working fine. Have you tried any with that version? Is this a new issue since upgrading to the .1 or .2 versions?

[2020-02-13 15:59] praeclarum commented on #1121
@mattleibow I have tried a bunch of versions. Would you give me an exact version to test? I can’t go too far back because there are other crashing bugs in those older versions.

[2020-02-13 16:04] mattleibow commented on #1121
Ah, ok. Try 1.68.0. I know some GC fixes were made in 1.68.1 so maybe I broke something. But I also updated the build tools, so maybe that broke something.

[2020-02-13 16:06] mattleibow commented on #1129
I managed to confirm this is the case. I also opened a bug with Apple (FB7577994) so we will just have to wait. Although, the iOS 13.4 beta also appears to have this issue. Either Apple is going for a pay-to-build mode, or it is a bug that I really hope gets fixed soon.

[2020-02-13 16:26] mattleibow commented on #1121
I managed to repro this in seconds! I just created like a billion windows :) Let me have a closer look now...

[2020-02-14 10:06] smillershout commented on #1145
Hi @mattleibow, thank you for the response. I will double check this. I figured it might be something that Apple has changed. I will take more pictures and check out the metadata through other means. Never thought of this. I have some other things on today but I will get back ASAP.

Thanks again,
Sam.

[2020-02-14 10:36] SpiritBob opened #1146 "[QUESTION] How to validate a given stream/byte-array contains a valid image?"
This can be achieved quite simply using .NET's library for images, but I've still not found out a way to do this via SkiaSharp.

Could you please give me some pointers?

[2020-02-14 15:06] mattleibow commented on #1146
The best way would be to make use of the `SKCodec` class: https://docs.microsoft.com/dotnet/api/skiasharp.skcodec

You could try try creating it with this: https://docs.microsoft.com/en-us/dotnet/api/skiasharp.skcodec.create?view=skiasharp-1.68.1#SkiaSharp_SKCodec_Create_System_IO_Stream_SkiaSharp_SKCodecResult__

That would mean that the image appears correct.

[code]

Another way would be to jus

[2020-02-14 19:14] Drise13 opened #1147 "[QUESTION] Is there a way to set the font height in pixels?"
I've been given a picture to recreate and the font height is specified in pixels. Is there a way to set up an SKPaint object to draw text to a pixel height instead of a point height?

[2020-02-14 19:26] wieslawsoltes commented on #1115
And now I discovered this (actually read again the doc):

SkShaders (also stored on SkPaint) can be used to create more complex colors. Color and gradient shaders typically accept SkColor4f (float colors). **These high precision colors can be in any gamut, but must have a linear transfer function.**

[2020-02-14 19:38] mattleibow commented on #1147
You could use the ratio... formula:

[code]

where 96 is the pixels per inch on a 100% DPI

[2020-02-14 20:51] djarvis commented on #591
I ended up here because of some confusion over SkiaSharp in a NanoServer docker container.  While I was able to get some things working after including SkiaSharp.NativeAssets.NanoServer, I noticed that I cannot draw text onto a bitmap using a font that I load from a file:

`
var typeFace = SKTypeface.FromFile("Font Awesome 5 Free-Solid-900.otf");
var paint = new SKPaint() { TextSize = 40, Color =

[2020-02-14 20:56] Gillibald commented on #591
Unfortunately there is currently no support for text rendering on Nano Server. That will most likely change with the next major release of SkiaSharp when Freetype can be used for Windows builds.

[2020-02-15 07:53] SpiritBob commented on #1146
Thank you @mattleibow!

[2020-02-15 07:53] #1146 closed

[2020-02-15 11:30] mattleibow commented on #591
@djarvis as @Gillibald says, there is currently an issue #1105

For now, is it possible to use the Linux images? Typically they are smaller and just as good. And, if you have a Windows host, they can be run side-by-side with Windows containers. That is the best for now, or use a Windows Server Core image - [like this example](https://github.com/mono/SkiaSharp/tree/master/samples/Basic/Docker/WebAp

[2020-02-15 11:30] mattleibow commented on #1105
Just adding a note that Windows Server Core can still be used [like this example](https://github.com/mono/SkiaSharp/tree/master/samples/Basic/Docker/WebApi)

[2020-02-15 14:55] djarvis commented on #591
@mattleibow We have been using solely Linux containers but now have to offer up Windows containers.  I'd rather not have the 4.8GB footprint just to be able to draw a font onto a bitmap so I'd like to stick to the nanoserver images.

We need to support simple, single-machine deployments.  With the need to run along side legacy Windows apps, we see Windows Server 2019 as a solution since it comes w

[2020-02-15 15:11] Gillibald commented on #591
You will be soon able to generate glyph outlines with the help of HarfBuzzSharp. Maybe thats a good way to get text rendered without having to rely on a font host implementation.

[2020-02-16 19:39] saskathex commented on #453
+1 for Ubuntu arm64 (Nvidia Jetson Nano)

[2020-02-17 08:59] SpiritBob commented on #1146
@mattleibow just one quick question if I may, if our image comes in a `byte[]` format, I can't actually use the `SKCodec.Create` method. Should I copy the array to a stream, or would that make the operation as slow as its alternatives? (`SKImage.FromEncodedData`/`SKBitmap.Decode`)

[2020-02-17 09:55] vijayasurya20 commented on #1041
Hi @mattleibow ,

First of all, Thank you for all your efforts.

As you have mentioned, we have checked our project and ensured that the "Prefer 32 bit" option is disabled both in our Library and also in the Test project. In both of our projects, we set the build target platform as "x86" only, but still, we are facing the same issue in our end. Can you please check this in your end using the proje

[2020-02-17 10:09] mattleibow commented on #1146
Oh, yeah. I see there is no overload for `byte[]`. I'll add that.

But, for now, you could even use `SKBitmap.DecodeBounds`. That also just does the reading of the header so as not to fully decode the entire image. If you want to make sure that it truly is a valid image (not corrupted), then using `SKImage.FromEncodedData`/`SKBitmap.Decode` to fully decode is probably the best.

[2020-02-17 10:12] mattleibow commented on #1146
But, as a separate thing, you can also create a `SKData` from any array:

[code]

Just remember, the data cannot outlive the `fixed` block as it requires that the GC does not move/collect the array.

[2020-02-17 10:37] mattleibow commented on #1041
I just did that and it worked. Steps:
 - download zip
 - update SkiaSharp to v1.68.1.1
 - switch to x86
 - right click the project and select "Run Tests"
 - observe the green wave

I also notice this on both projects:
[code]

You probably should not need that.

I removed them and the test was red. This is because the test runner now was using x86, but the compiler was optimizing for x64. To fix th

[2020-02-17 11:53] TamasRemenyi commented on #1145
This [thread](https://github.com/jamesmontemagno/MediaPlugin/issues/760#issuecomment-553359143) may have useful information related to this iOS bug.
https://github.com/jamesmontemagno/MediaPlugin/issues/760#issuecomment-553359143

[2020-02-17 19:33] djarvis commented on #591
Luckily since I just needed to draw the Font Awesome glyphs I was able to use SkiaSharp.Svg to draw the relatively simple svgs onto a bitmap
  This seems to work on Linux and Windows.

[2020-02-17 21:38] RChrisCoble commented on #1132
**Extremely** interested in this effort, to use SkiaSharp from Blazor directly.  So a few questions:

- Would a supported SkiaSharp platform be Blazor?  (I assume yes as there's not much other choice)
- Would this WASM based solution somehow bypass the WASM/JS later to keep performance high?
- How many "weeks" is 'near future' in a best guess?

Thanks much.

[2020-02-18 04:57] vijayasurya20 commented on #1071
Hi @mattleibow ,

Thank you for your update.

Can you please share me the expected release timeline for this SkiaSharp support in ARM64 architecture?

Regards,
Vijayasurya A

[2020-02-18 11:43] Ziriax commented on #1147
I actually think the API documentation is wrong, at least that's the information I got from the [Skia mailing list](https://groups.google.com/d/msg/skia-discuss/Rk9nkPFBmk0/nBZFHIdlBgAJ)

The `SkPaint.textSize` is actually the height, **in pixels**, that a glyph with height `1 em` would get when rendered on the canvas (length #13 in this image) ![90e9dea4](https://user-images.githubusercontent.com

[2020-02-19 01:26] mattleibow commented on #1147
Good to know. Is this our docs that are wrong? I was not able to find any references to points with regards to text.

[2020-02-19 01:29] mattleibow commented on #1071
Things are a bit flexible, but we are aiming for the first previews in March/April. At this time, there are bits that are working, but unfortunately in our work, we removed a whole bunch of types and members to get it to compile. I am right now working to make sure that the API is backwards compatible. This is taking a bit of time as certain things will have to be reworked internally.

A rough est

[2020-02-19 01:33] mattleibow commented on #1132
We are hard at work on this right now. So far, we are aiming for the first previews of v2 in March/April. Once that is out, we will go directly to adding WSM support, so that by the time we go stable a month or so later, we will have WASM as part of the main package.

We would probably work along the same lines that the Uno folks are doing it. And, regardless, we would try our best to ensure that

[2020-02-19 01:55] RChrisCoble commented on #1132
Thank you Matthew.

I think we could be a good test engine against SkiaSharp WASM (and desktop).  The engine I'd like to apply against it does the following type of production workloads:

https://sw.aveva.com/success-stories/adnoc?wvideo=9f4daysuna

Sorry for the marketing stuff, jump to 2:20 in the video.

[2020-02-19 07:01] Ziriax commented on #1147
The pleasure is all mine, SkiaSharp rocks!

Only the Skia docs are wrong it seems, but the SkiaSharp doc is so brief that it is hard to understand the meaning :-)

`Gets or sets the text size` is not that useful for most users I guess? IMHO `size` could refer to width, height, line height, em height, etc...

[2020-02-19 17:34] Ziriax commented on #1094
I'm also having a `NullReferenceException`, but I'm using glyph-ids as returned from `SKPaint`.

I'm using preview 27.

The stack trace is:
[code]

My code is just:

[code]

Should I make a new issue for this? I need to manually position glyphs, I don't find another API for this.

[2020-02-19 19:15] mlptownsend opened #1148 "[BUG] Seg Fault with SKTypeface.MatchTypeface with Ubuntu"
**Description**

When loading a font file from a file/stream in Ubuntu 18.04, it is possible to cause a seg fault in the process and instantly kill it. This is done by calling SKFontManager.MatchTypeface and providing it the loaded SKTypeface from the stream and an SKFontStyle. This code does not fail in Windows (and possibly iOS is okay too).

This was reproduced in a pair of VMs, one running Ubu

[2020-02-20 06:00] mpg-kairyu-ka opened #1149 "[QUESTION] I used skiasharp version 1.68.0. But the quality of the generated PDF document is 7882kb. This is too large for saving. Is there a way to reduce the quality?"
You can ask questions here, but there might be better places to do that as well:

 - If you have questions on how to use SkiaSharp with .NET, this is the best place.
 - If you have questions on how to draw a picture, but need some suggestions, there is the community to help:
    - StackOverflow: https://stackoverflow.com/questions/tagged/skiasharp
    - Xamarin Forums: https://forums.xamarin.com

[2020-02-20 09:19] Ziriax opened #1150 "[QUESTION] Creating managed-only build from source still supported?"
I would like contribute to SkiaSharp, providing PRs.

The main [SkiaSharp readme](https://github.com/mono/SkiaSharp#building-skiasharp) only mentions building both the managed and native code.

The wiki still has a guideline of how to build the managed code only, but I can't get this working (with vs2019, on Windows).

Is it still possible to build only the managed code from the cloned SkiaSharp s

[2020-02-20 10:00] Ziriax commented on #1150
Okay, it seems I can build `SkiaSharp.csproj` itself, that's enough for me right now.

[2020-02-20 10:00] #1150 closed

[2020-02-20 12:29] JackPaul3413 commented on #1102
Hi @Gillibald ,

Thank you so much, for the last update, i actually got correct measurement by implementing code from the above picture, i have checked for few font, it really worked for some fonts, so i started a benchmark test to compare the result of GDI, Skia sharp, Skia sharp +harfbuzz implementation, at last i got moderate result, on my further analysis, i have found it works great for some

[2020-02-20 13:12] Gillibald commented on #1102
Not all fonts support all scripts, etc. So for unsupported glyphs a replacement glyph is used. That glyph is also different for most fonts. So to properly compair results you have make sure all codepoints can be mapped to glyphs. Before you shape the codepoints should be 0 in the buffer.

[2020-02-20 13:14] Gillibald commented on #1102
GDI might perform a font fallback and HarfBuzz doesn't do that for you. So all codepoints that can't be mapped need to be shaped with a different typeface that supports the codepoints.

[2020-02-20 13:16] Gillibald commented on #1102
Fill the buffer. Split the buffer when a sequence of 0 values occurs. Try to find a fallback via SKFontManager.Default.MatchCharacter and shape that portion of the original buffer again.

[2020-02-20 13:38] Ziriax opened #1151 "[BUG] SKTextBlobBuilder.AddHorizontalRun requires SKPaint.TextEncoding to be set to SKTextEncoding.GlyphId"
**Description**

A similar issues #1094 was reported and closed, but I would like to discuss this again.

Calling `SKTextBlobBuilder.AddHorizontalRun` throws a `NullReferenceException` unless the `SKPaint.TextEncoding` is set to `SKTextEncoding.GlyphId`.

IMO this doesn't make sense, since the text encoding is not needed, as the glyph ids are already known when calling this method?

This is caused

[2020-02-20 13:58] Gillibald commented on #1151
Y checking the TextEncoding on the paint doesn't make sense. Is the paint even used when a buffer is allocated? Probably just an oversight during the transition to SKFont. We might want to remove that check. Also the font parameter itself shouldn't be needed. What am I missing here?

[2020-02-21 10:40] mattleibow commented on #1151
We can always copy the paint object, and then set the encoding to glyph when allocating.

Let me do that and get a preview out.

[2020-02-21 11:12] mattleibow commented on #1151
@Ziriax thanks for taking the time to open the issue and collect the info. I have this PR which will make things way easier: https://github.com/mono/SkiaSharp/pull/1152

[2020-02-21 11:16] mattleibow commented on #1149
Could you attach some sample code that is causing the PDF to be large? Or is even a blank PDF large for you?

What is the platform/OS and what are you putting on the PDF. A simple snippet of code that is causing the PDF to be large will help a lot.

[2020-02-21 11:23] mattleibow commented on #1094
Thanks for opening the issue, I got a fix building that make life much esier.

[2020-02-21 11:25] mattleibow commented on #1148
I think this is because of the way the stream are working in skia vs .NET. In skia, the stream is "forked" by creating a new stream object that points to the same managed stream. This resulted in multiple streams modifying the managed stream loction.

But, I was sure I fixed this in v1.68.1+...

Is there a stack trace at all?

[2020-02-21 11:32] mattleibow commented on #1148
I had a look at the source for the font manager for linux. It appears they literally just call `MatchFamily` with the font name and style:

https://github.com/mono/skia/blob/v1.68.1.1/src/ports/SkFontMgr_fontconfig.cpp#L911
[code]

I bet the font name is null or empty. Could you have a look?

Not sure what we need to do there...

[2020-02-21 11:38] mattleibow commented on #1147
Ah, yes. Heh, we need to improve that...

Would you like to open a PR ;)

https://github.com/mono/SkiaSharp-API-docs/blob/57ae4a903e9cba1627d0a7362d359a3d6ede80a9/SkiaSharpAPI/SkiaSharp/SKPaint.xml#L2987

[2020-02-21 15:00] mlptownsend commented on #1148
Unfortunately no stack trace from managed code. It literally dies instantly upon making the call into SkiaSharp. I'm not a savvy enough Linux person by any means to dig much into a segfaulting dotnet core process that's calling into unmanaged code :(

(And especially without any debug symbols for Skia itself!)

The SKTypeface does show having a valid Font Family string value, but the class doesn't

[2020-02-21 17:28] Ziriax commented on #1147
Sure!

[2020-02-21 18:30] #1151 closed

[2020-02-21 21:37] BartmanEH commented on #1129
[iOS 13.4 beta 2 (17E5233g)](https://developer.apple.com/news/releases/?id=02192020d) is out now--maybe someone could test it?

[2020-02-22 13:21] VitezslavImrysek commented on #1129
Still reproduces on iPadOS 13.4 Beta 2

[2020-02-24 14:57] praeclarum commented on #1121
Hi @mattleibow, every day I'm getting crash reports from paying customers and my reviews are starting to show it. I wonder if you've made any progress?

[2020-02-24 16:53] jameslavery opened #1154 "Can SkSvg display an SVG with custom fonts?"
We're using SkSvg successfully to display our SVGs, but need to display an SVG which has text with a custom font.

However, SkSvg is not displaying with the correct font - it's using the nearest font it can find.

Is it possible to use SKFontManager to register our custom fonts with SkiaSharp so that SkSvg can access it? Or am I misunderstanding how SKFontManager is meant to work?

[2020-02-25 03:43] mpg-kairyu-ka commented on #1149
Thank you for your reply.
Just the simplest text document. Documents similar to salary details. If there is no content, it is about 4kb. However, even if you draw a point, it will become about 7882kb. Very distressed!
The current framework does not support other advanced software! .net core 1.1

[2020-02-25 08:29] pauldendulk opened #1155 "[BUG] [UWP] Canvas is blank after PopAsync() from Navigation in Forms"
**Description**

Canvas is blank after PopAsync() from Navigation in Forms

**Code**

This shows nothing after moving away and back
[code]

**Expected Behavior**

A pink square is shown.

**Actual Behavior**

Screen stays blank.

**Basic Information**

- Version with issue:
  - ❌ 1.68.2-preview.50
  - ❌ 1.68.2-preview.29
  - ❌ 1.68.1.1 (latest stable)
  - ❌ 1.68.1
  - ✔️ 1.68.0

- IDE:  Visual Stu

[2020-02-25 08:31] pauldendulk commented on #1155
Here is the original Mapsui issue:
https://github.com/Mapsui/Mapsui/issues/838

[2020-02-25 08:34] pauldendulk commented on #1108
@mattleibow Any update on this? We have a sample for WPF Forms. Users actually try to build apps based on this sample but have to hold their development when they find this issue. If this is not supported please let us know then we can remove the sample.

[2020-02-25 16:44] N-Olbert commented on #1088
@mattleibow I was able to test it today. The methods i use work as expected :). Thank you very much.

[2020-02-26 06:41] pauldendulk commented on #1155
Did some further tests.
- GRContext is not null (an issue we saw somewhere else).
- IsDisposed is false on Surface and Canvas in all cases.
- Other parameters of Surface and Canvas (like OwnHandle, DeviceClipBounds) seem correct.
- PaintSurface is called after going back. That is not the problem
- If InvalidateSurface() is called seconds later, which triggers a PaintSurface, it is still blank. So

[2020-02-26 12:40] vijayasurya20 commented on #1041
Hi @mattleibow,

Thank you for your suggestion.

We have tried both of your suggestions in our end, but still, the persists in our end. For your reference, please find the video illustration below as follows.
[Video.zip](https://github.com/mono/SkiaSharp/files/4255723/Video.zip)

Can you please check this and provide us solution?

Regards,
Vijayasurya A

[2020-02-26 16:39] Odirb opened #1156 "[BUG] macOS Native library libSkiaSharp.dylib is not signed with a Developer ID"
Apple has refused the notarization of my application with an error message "The binary is not signed with a valid Developer ID certificate." on the libSkiaSharp.dylib.

This command line "codesign -dv --verbose=4 libSkiaSharp.dylib" show that the native skia library shipped inside the SkiaSharp nuget is signed with an adoc signature.

The same command executed on a Mono native library indicates "D